#build dir
_site

#temporary
tmp
.sass-cache

.DS_Store

#sublime text
*.sublime-project
*.sublime-workspace

codekit-config.json

#ruby stuff
Gemfile.lock
messages.pot

node_modules

#Bower
/assets/bower_components
