#build dir
_site

#temporary
tmp
.sass-cache

.DS_Store

#editors text
*.sublime-project
*.sublime-workspace
codekit-config.json

#ruby stuff
messages.pot

#npm
node_modules
npm-debug.log

#Bower
/assets/bower_components
