assets/js/lunr/* linguist-vendored
assets/js/plugins/* linguist-vendored
assets/js/vendor/* linguist-vendored
assets/fonts/* linguist-vendored
assets/js/main.min.js linguist-vendored
_sass/so-simple/vendor/* linguist-vendored
_sass/so-simple/functions/* linguist-vendored
