{%- assign author = page.author | default: page.authors[0] | default: site.author -%}
{%- assign author = site.data.authors[author] | default: author -%}

{%- if author.picture -%}
  {%- if author.picture contains "://" -%}
    {%- assign author_picture = author.picture -%}
  {%- else -%}
    {%- assign author_picture = author.picture | relative_url -%}
  {%- endif -%}
  <img src="{{ author_picture }}" class="bio-photo" alt="">
{%- endif -%}
<span>{{ author.name }}</span>
{%- if author.links -%}
  {%- for link in author.links -%}
    {%- if link.url contains "://" -%}
      {%- assign url = link.url -%}
    {%- else -%}
      {%- assign url = link.url | relative_url -%}
    {%- endif -%}
    <span><a href="{{ url }}"><i class="fa {{ link.icon | default : 'fa-circle' }} fa-fw"></i> {{ link.title }}</a></span>
  {%- endfor -%}
{%- endif -%}
