<div class="center">
Subscribe to our email newsletter for occasional announcements!<br />

<div class="email-form">
<form
  action="https://buttondown.email/api/emails/embed-subscribe/MAGICGrants"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/MAGICGrants', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <!-- <label for="bd-email">Enter your email:</label> -->
  <input type="email" name="email" id="bd-email" placeholder="you@example.com">
  <input type="hidden" value="1" name="embed"/>
  <input type="submit" value="Subscribe 🎉" />
</form>
</div></div>
