<section class="flair-feed-section">
  <h2>Cutout masks</h2>
  <p>Learn how to use the new cutout masks and stylize an animated model with the 3D Cutout style of #MNPRX from scratch.</p>
  <img src="/images/feed/2020-09-11.jpg" alt="How to stylize an animation with 3D cutout">
  <hr>
</section>



<a class="twitter-timeline" href="https://twitter.com/artineering/timelines/1301426808936693762?ref_src=twsrc%5Etfw" data-theme="dark" data-link-color="#fff" data-chrome="nofooter transparent noheader noborders"></a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<footer id="footer" class="site-footer">

  <h3 class="top-05"> Stay in touch! </h3>
  {%- if site.footer_links -%}
    <div class="social-icons">
      {%- for footer_link in site.footer_links -%}
        {%- if footer_link.url contains "://" -%}
          {%- assign url = footer_link.url -%}
        {%- else -%}
          {%- assign url = footer_link.url | relative_url -%}
        {%- endif -%}
        <a class="social-icon" href="{{ url }}"><i class="{{ footer_link.icon | default: 'fas fa-link' }} fa-2x" title="{{ footer_link.title }}"></i></a>
      {%- endfor -%}
    </div>
  {%- endif -%}
</footer>

<!-- Font Awesome -->
<script src="https://pro.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-I3Hhe9TkmlsxzooTtbRzdeLbmkFQE9DVzX/19uTZfHk1zn/uWUyk+a+GyrHyseSq" crossorigin="anonymous"></script>
