<section class="flair-feed-section">
  {%- for entry in site.data.flair-feed -%}
  {%- assign date = entry[0] -%}
  {%- assign data = entry[1] -%}
  <a href = "{{ data.link }}">
    <div>
      <time>{{date}}</time>
      <h3>{{ data.title }}</h3>
      <p>{{ data.text }}</p>
      <figure>
        {%- if data.img -%}
          <img src="/images/{{ data.img }}">
        {%- endif -%}
      </figure>
    </div>
  </a>
  <hr>
  {%- endfor -%}
</section>

<footer id="footer" class="site-footer">
  <p> And more... </p>
  <h3 class="top-05"> Stay in touch! </h3>
  {%- if site.footer_links -%}
    <div class="social-icons">
      {%- for footer_link in site.footer_links -%}
        {%- if footer_link.url contains "://" -%}
          {%- assign url = footer_link.url -%}
        {%- else -%}
          {%- assign url = footer_link.url | relative_url -%}
        {%- endif -%}
        <a class="social-icon" href="{{ url }}"><i class="{{ footer_link.icon | default: 'fas fa-link' }} fa-2x" title="{{ footer_link.title }}"></i></a>
      {%- endfor -%}
    </div>
  {%- endif -%}
</footer>

<!-- Font Awesome -->
<script src="https://pro.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-I3Hhe9TkmlsxzooTtbRzdeLbmkFQE9DVzX/19uTZfHk1zn/uWUyk+a+GyrHyseSq" crossorigin="anonymous"></script>
