<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>

{% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt | strip_html }}">
{% endif %}

{% if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' }}">
{% endif %}


{% if page.author %}
    {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %}
{% endif %}

{% include open-graph.html %}

<!-- Webmaster Tools verfication -->
{% if site.owner.google.verify %}
    <meta name="google-site-verification" content="{{ site.owner.google.verify }}">
{% endif %}

{% if site.owner.bing-verify %}
    <meta name="msvalidate.01" content="{{ site.owner.bing-verify }}">
{% endif %}

{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
<link rel="canonical" href="{{ canonical }}">

<link href="{{ site.url }}/feed.xml" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- https://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
{% if page.calendar %}
    <link rel="stylesheet" href="{{ site.url }}/assets/css/monthly.css">
{% endif %}

<meta http-equiv="cleartype" content="on">

<!-- Address bar color -->
<meta name="theme-color" content="#DC0067">
<meta name="msapplication-navbutton-color" content="#DC0067">
<meta name="apple-mobile-web-app-status-bar-style" content="#DC0067">

<!-- apple-touch-icons -->
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" href="{{ site.url }}/images/apple-touch-icon-precomposed.png">
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.url }}/images/apple-touch-icon-72x72-precomposed.png">
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.url }}/images/apple-touch-icon-114x114-precomposed.png">
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.url }}/images/apple-touch-icon-144x144-precomposed.png">

<!-- favicons -->
<link rel="shortcut icon" href="{{ site.url }}/images/favicon.ico">
<link rel="shortcut icon" href="{{ site.url }}/images/favicon.png">
<link rel="icon" type="image/png" href="{{ site.url }}/images/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/png" href="{{ site.url }}/images/favicon-128x128.png" sizes="128x128" />
<link rel="icon" type="image/png" href="{{ site.url }}/images/favicon-196x196.png" sizes="196x196" />

<!-- msapplication -->
<meta name="application-name" content="{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}"/>
<meta name="msapplication-TileColor" content="#DC0067" />
<meta name="msapplication-TileImage" content="{{ site.url }}/images/mstile-144x144.png" />
<meta name="msapplication-square70x70logo" content="{{ site.url }}/images/mstile-70x70.png" />
<meta name="msapplication-square150x150logo" content="{{ site.url }}/images/mstile-150x150.png" />
<meta name="msapplication-wide310x150logo" content="{{ site.url }}/images/mstile-310x150.png" />
<meta name="msapplication-square310x310logo" content="{{ site.url }}/images/mstile-310x310.png" />
