<!-- start custom head snippets -->
{%- if page.image.card -%}
  <meta name="twitter:image" content="{{site.url}}/{{ page.image.card }}">
{%- else -%}
  <meta name="twitter:image" content="{{site.url}}/images/cards/default.jpg">
{%- endif -%}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
