<section class="aio-pricing">
  <h2 id="getit">Pricing</h2>
  <div class="reset hide" id="reset">Reset</div>
<div class="pricing">
  <div class="location" id="tittle">Choose your license</div>
  <div class="em hide" id="employees">How many employees does your company have?</div>
  <div class="pricing-table">
    
    <div class="pricing-plan" id="comercial">
      <i class="fas fa-home-alt fa-3x"></i>
      <h3>Commercial Use</h3>
    </div>
    <div class="pricing-plan" id="noncomercial">
      <i class="fas fa-dove fa-3x"></i>
      <h3>Non-Commercial Use</h3>
    </div>
    <div class="pricing-plan hide" id="individual">
      <i class="fas fa-user fa-3x"></i>
      <h3>individual</h3>
    </div>
    <div class="pricing-plan out hide" id="nonprofit">
      <i class="fas fa-graduation-cap fa-3x"></i>
      <h3>non profit / Educational institution</h3>
    </div>
    <div class="pricing-plan hide " id="community ">
      <i class="fas fa-users fa-3x"></i>
      <h3>flair community</h3>
      <p>Become our patron to unlock flair community</p>
      <p>
        <a class="btn btn--aio" href="https://patreon.com/artineering">Patreon</a>
      </p>
     
    </div>

    <div class="pricing-plan hide" id="patron">
      <i class="fab fa-fort-awesome fa-3x"></i>
      <h3>flair edu</h3>
      <p>contact us for customized licenses</p>
      <p>
        <a class="btn btn--aio" href="/contact">Contact us</a>
      </p>
      
    </div>
    <div class="pricing-plan hide" id="more">
      <i class="fab fa-fort-awesome fa-3x"></i>
      <h3>More than 10</h3>
    </div>
    <div class="pricing-plan hide" id="less">
      <i class="fas fa-campground fa-3x"></i>
      <h3>Less than 10</h3>
    </div>
    <div class="pricing-plan hide out" id="studio">
      <i class="fab fa-fort-awesome fa-3x"></i>
      <h3>mnprx studio</h3>
      <p>your subscriptions options</p>
      <!-- monthly pricing table -->
      <div id="monthly" class="pricing-tables">
        <div class="pricing-plan">
          
          <!-- features -->
          <h3>monthly</h3>
          <!-- price -->
          <div id="state-m-caption" class="pricing-banner ">
            <p>Stay Flexible</p>
          </div>
          <div class="pricing-price">
            <span data-fsc-item-path="mnprx-studio-subscription" data-fsc-item-price></span><span>/month</span>
            <p>- per-seat<sup><a href="#footprint">5</a></sup> -</p>
          </div>

          <!-- quantity -->
          <div class="pricing-quantity">
            <span>Quantity: </span>
            <select data-fsc-item-path-value="mnprx-studio-subscription" data-fsc-item-quantity-value>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <sup><a href="#footprint">7</a></sup>
          </div>

          <!-- purchase button -->
          <p>
            <a class="btn btn--aio" data-fsc-item-path="mnprx-studio-subscription"
              data-fsc-item-path-value="mnprx-studio-subscription" data-fsc-action="Update, Checkout">Purchase</a>
          </p>
        </div> <!-- end NC -->


        <div class="pricing-plan">

          <!-- features -->
          <h3>quarterly</h3>


          <!-- price -->
          <div class="pricing-price">
            <span data-fsc-item-path="mnprx-indie-subscription" data-fsc-item-price></span><span>/month</span>
            <p>- per-seat<sup><a href="#footprint">5</a></sup> -</p>
          </div>

          <!-- quantity -->
          <div class="pricing-quantity">
            <span>Quantity: </span>
            <select data-fsc-item-path-value="mnprx-indie-subscription" data-fsc-item-quantity-value>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <sup><a href="#footprint">7</a></sup>
          </div>

          <!-- purchase button -->
          <p>
            <a class="btn btn--aio" data-fsc-item-path="mnprx-indie-subscription"
              data-fsc-item-path-value="mnprx-indie-subscription" data-fsc-action="Update, Checkout">Purchase</a>
          </p>
        </div> <!-- end Indie -->


        <div class="pricing-plan in">

          <!-- features -->
          <h3>yearly</h3>
          <div id="state-y-caption" class="pricing-banner">
            <p>Best Value!</p>
          </div>

          <!-- price -->
          <div class="pricing-price">
            <span data-fsc-item-path="mnprx-studio-subscription" data-fsc-item-price></span><span>/month</span>
            <p>- per-seat<sup><a href="#footprint">5</a></sup> -</p>
          </div>

          <!-- quantity -->
          <div class="pricing-quantity">
            <span>Quantity: </span>
            <select data-fsc-item-path-value="mnprx-studio-subscription" data-fsc-item-quantity-value>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <sup><a href="#footprint">7</a></sup>
          </div>
          <!-- purchase button -->
          <p>
            <a class="btn btn--aio" data-fsc-item-path="mnprx-studio-subscription"
              data-fsc-item-path-value="mnprx-studio-subscription" data-fsc-action="Update, Checkout">Purchase</a>
          </p>
        </div> <!-- end Studio -->

      </div> <!-- end monthly pricing-table -->
    </div>
    <div class="pricing-plan out hide" id="indie">
      <i class="fas fa-campground fa-3x"></i>
      <h3>mnprx indie</h3>
      <p>your subscriptions options</p>
      <!-- monthly pricing table -->
      <div id="monthly" class="pricing-tables">
        <div class="pricing-plan">
          <!-- features -->
          <h3>monthly</h3>
          <!-- price -->
          <div class="pricing-price">
            <span data-fsc-item-path="mnprx-studio-subscription" data-fsc-item-price></span><span>/month</span>
            <p>- per-seat<sup><a href="#footprint">5</a></sup> -</p>
          </div>

          <!-- quantity -->
          <div class="pricing-quantity">
            <span>Quantity: </span>
            <select data-fsc-item-path-value="mnprx-studio-subscription" data-fsc-item-quantity-value>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <sup><a href="#footprint">7</a></sup>
          </div>

          <!-- purchase button -->
          <p>
            <a class="btn btn--aio" data-fsc-item-path="mnprx-studio-subscription"
              data-fsc-item-path-value="mnprx-studio-subscription" data-fsc-action="Update, Checkout">Purchase</a>
          </p>
        </div> <!-- end NC -->


        <div class="pricing-plan">

          <!-- features -->
          <h3>quarterly</h3>


          <!-- price -->
          <div class="pricing-price">
            <span data-fsc-item-path="mnprx-indie-subscription" data-fsc-item-price></span><span>/month</span>
            <p>- per-seat<sup><a href="#footprint">5</a></sup> -</p>
          </div>

          <!-- quantity -->
          <div class="pricing-quantity">
            <span>Quantity: </span>
            <select data-fsc-item-path-value="mnprx-indie-subscription" data-fsc-item-quantity-value>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <sup><a href="#footprint">7</a></sup>
          </div>

          <!-- purchase button -->
          <p>
            <a class="btn btn--aio" data-fsc-item-path="mnprx-indie-subscription"
              data-fsc-item-path-value="mnprx-indie-subscription" data-fsc-action="Update, Checkout">Purchase</a>
          </p>
        </div> <!-- end Indie -->


        <div class="pricing-plan in">

          <!-- features -->
          <h3>yearly</h3>


          <!-- price -->
          <div class="pricing-price">
            <span data-fsc-item-path="mnprx-studio-subscription" data-fsc-item-price></span><span>/month</span>
            <p>- per-seat<sup><a href="#footprint">5</a></sup> -</p>
          </div>

          <!-- quantity -->
          <div class="pricing-quantity">
            <span>Quantity: </span>
            <select data-fsc-item-path-value="mnprx-studio-subscription" data-fsc-item-quantity-value>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <sup><a href="#footprint">7</a></sup>
          </div>
          <!-- purchase button -->
          <p>
            <a class="btn btn--aio" data-fsc-item-path="mnprx-studio-subscription"
              data-fsc-item-path-value="mnprx-studio-subscription" data-fsc-action="Update, Checkout">Purchase</a>
          </p>
        </div> <!-- end Studio -->

      </div> <!-- end monthly pricing-table -->
      
 
    </div>
  </div>
  <div class="disclaimer" >
    <p id="customization" class="top05 hide" markdown="1">For **bulk purchases** or **site licenses**, please [contact
      sales](/contact/).</p>

    <p class="subs hide" id="subs">all subscriptions can be cancelled at any time</p>
  </div>

</div>
   <p class="demo hide" id="demo">Still Unsure? Try the Demo version Here</p>

   <!-- FastSpring -->
   <script
   id="fsc-api"
   src="https://d1f8f9xcsvx3ha.cloudfront.net/sbl/0.8.3/fastspring-builder.min.js"
   type="text/javascript"
   data-storefront="artineering.onfastspring.com/popup-artineering">
</script>
  <section>
    <!-- end aio-pricing -->