<section class="aio-pricing">
  <h2 id="getit">Pricing</h2>
  <p>Choouse your license</p>
  <div class="pricing-table">
    
    <div class="pricing-plan" id="comercial">
      <div class="pricing-plan">
         <i class="fas fa-home-alt fa-3x"></i>
          <h3>Commercial Use</h3>
      </div>
    </div>

    <div class="pricing-plan">
      <div class="pricing-plan" id="noncomercial" >
         <i class="fas fa-dove fa-3x"></i>
          <h3>Non-Commercial Use</h3>
      </div>
    </div>
  </div>
  <!-- Commercial Use -->
  <div class="pricing-table">
    <div class="pricing-plan">
      <div class="pricing-plan">
        <i class="fab fa-fort-awesome fa-3x"></i>
          <h3>More than 10</h3>
      </div>
    </div>
    <div class="pricing-plan">
      <div class="pricing-plan">
         <i class="fas fa-campground fa-3x"></i>
          <h3>Less than 10 </h3>
      </div>
    </div>
  </div>
  <div class="pricing-table">
    <div class="pricing-plan">
      <div class="pricing-plan">
        <i class="fab fa-fort-awesome fa-3x"></i>
          <h3>less than 10</h3>
      </div>
    </div>
  </div>
  <div class="pricing-table">
    <div class="pricing-plan">
      <div class="pricing-plan">
        <i class="fab fa-fort-awesome fa-3x"></i>
          <h3>More than 10</h3>
      </div>
    </div>
  </div>

  
<section> <!-- end aio-pricing -->
