{% if site.data.navigation %}
<div class="navigation-wrapper">
  <a href="#menu-toggle" id="menu-toggle">{{ site.data.text[site.locale].menu_label | default: 'Menu' }}</a>
  <nav id="primary-nav" class="site-nav">
    <ul>
      {%- for link in site.data.navigation -%}
        {%- if link.url contains '://' -%}
          {%- assign url = link.url -%}
        {%- else -%}
          {%- assign url = link.url | relative_url -%}
        {%- endif -%}
        <li><a href="{{ url }}">{{ link.title }}</a></li>
      {%- endfor -%}
    </ul>
  </nav>
</div><!-- /.navigation-wrapper -->
{% endif %}

{% include browser-upgrade.html %}

<div class="gcse-searchresults"></div>

<header class="masthead">
        <div class="wrap">
      {% if site.logo != null %}
                <a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="100" height="100" alt="{{ site.title }} logo"></a>

      <h1><a href="{{ site.url }}/">{{ site.title }}</a></h1>
                <h2 itemprop="description">{{ site.description }}</h2>
        </div>
</header><!-- /.masthead -->{% endif %}

<div class="js-menu-screen menu-screen"></div>
