{% if site.data.navigation %}
  <div class="navigation-wrapper">
    <a href="#menu-toggle" id="menu-toggle"><span class="fas fa-bars fa-lg"></span> {{ site.data.text[site.locale].menu_label | default: 'Menu' }}</a>
    <nav id="primary-nav" class="site-nav {% unless page.title %}animated drop{%endunless%}">
      <ul>
        <li><a class="navigation-logo" href="{{site.url}}">{% include aio-logo.html %}</a></li>
        {%- for link in site.data.navigation -%}
          {%- if link.url contains '://' -%}
            {%- assign url = link.url -%}
          {%- else -%}
            {%- assign url = link.url | relative_url -%}
          {%- endif -%}
          <li><a href="{{ url }}">{{ link.title }}</a></li>
        {%- endfor -%}
      </ul>
    </nav>
    <p class="navigation-download animated drop">
      <a href="/software/MNPRX/#getit">download</a>
    </p>
  </div><!-- /.navigation-wrapper -->
{% endif %}
