<nav class="page-pagination" role="navigation">
  {% if page.previous %}
    <a class="page-previous" href="{{ page.previous.url | relative_url }}">
      <h4 class="page-pagination-label">{{ site.data.text[site.locale].previous | default: 'Previous' }}</h4>
      <span class="page-pagination-title">
        {% include icon-left-arrow.svg %}
        {{ page.previous.title | markdownify | strip_html }}
      </span>
    </a>
  {% endif %}

  {% if page.next %}
    <a class="page-next" href="{{ page.next.url | relative_url }}">
      <h4 class="page-pagination-label">{{ site.data.text[site.locale].next | default: 'Next' }}</h4>
      <span class="page-pagination-title">
        {{ page.next.title | markdownify | strip_html }}
        {% include icon-right-arrow.svg %}
      </span>
    </a>
  {% endif %}
</nav>
