{%- if page.author -%}
  {%- assign postType = "blog" -%}
  {%- assign author = page.author | default: page.author[0] | default: site.author -%}
  {%- assign author = site.data.team[author] | default: team -%}
  {%- assign profile = author.picture | relative_url -%}
{%- else -%}
  {%- assign postType = "short" -%}
  {%- assign author = page.studio -%}
  {%- assign profile = author.logo -%}
{%- endif -%}

<div class="page-author h-card p-author">
  {%- if profile -%}
    {%- if postType == "blog" -%}
      <img src="/images/blog/authors/{{page.author}}-{{page.year}}.jpg" class="author-avatar u-photo" alt="{{ author.name }}">
    {%- else -%}
      <a href="{{page.studio.url}}" target="_blank">
        <img src="/images/blog/animation-spotlight/logos/{{profile}}" class="author-avatar u-photo" alt="{{ page.studio.name }}">
      </a>
    {%- endif -%}
  {%- endif -%}

  <div class="author-info">
    {%- if author.name -%}
      <div class="author-name">
        {%- if postType == "blog" -%}
          {% if site.data.text[site.locale].by %}<span>{{ site.data.text[site.locale].by }}</span> {% endif %}
          <span class="p-name" itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ author.name }}</span>
          </span>
        {%- else -%}
          <span>Directed by<br></span>
          <span itemprop="director" itemscope itemtype="http://schema.org/Person">
            <span class="p-name" itemprop="name">{{ page.director }}</span>
          </span>
          <div class="aio-hr"></div>
          <a href="{{page.studio.url}}" target="_blank">
            <span class="p-name" itemprop="author">{{ author.name }}</span>
          </a>
        {%- endif -%}
      </div>
    {%- endif -%}
    {%- if author.links -%}
      <ul class="author-links">
        {%- for link in author.links -%}
          {%- if link.url contains "://" -%}
            {%- assign url = link.url -%}
          {%- else -%}
            {%- assign url = link.url | relative_url -%}
          {%- endif -%}
          <li class="author-link">
            <a class="u-url" rel="me" href="{{ url }}"><i class="{{ link.icon | default : 'fas fa-link' }} fa-lg" title="{{ link.title }}"></i></a>
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
    {% if site.read_time %}{% include entry-read-time.html %}{% endif %}
    {% if page.date %}{% include page-date.html %}{% endif %}
  </div>
</div>
