{%- for entry in paginator.posts -%}
  {% include entry.html %}
{%- endfor -%}

<!-- Pagination links -->
<nav class="pager">
  <ul>
    <!-- Page: {{ paginator.page }} of {{ paginator.total_pages }} -->
    {% if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous">{{ site.data.text[site.locale].newer | default: 'Newer' }}</a></li>
    {% endif %}
    {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | relative_url }}" class="next">{{ site.data.text[site.locale].older | default: 'Older' }}</a></li>
    {% endif %}
  </ul>
</nav>
