{%- if site.footer_scripts -%}
  {%- for script in site.footer_scripts -%}
    {%- if script contains "://" -%}
      {%- capture script_path %}{{ script }}{% endcapture -%}
    {%- else -%}
      {%- capture script_path %}{{ script | absolute_url }}{% endcapture -%}
    {%- endif -%}
    <script src="{{ script_path }}"></script>
  {%- endfor -%}
{%- else -%}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
  <script src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
{%- endif -%}



{%- if site.owner.google.analytics %}
<!-- Asynchronous Google Analytics snippet -->
<script>
  var _gaq = _gaq || [];
  var pluginUrl =
 'https://www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', '{{ site.owner.google.analytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'https://stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{%- endif %}

{% if site.mathjax == true %}
<!-- MathJax -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endif %}

{%- if page.layout == "search" -%}
  {% include lunr-search-scripts.html %}
{%- endif -%}
