@font-face {
    font-family: 'Copperplate Gothic';
    src: url('../fonts/copperplate_gothic_bold-webfont.eot');
    src: url('../fonts/copperplate_gothic_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/copperplate_gothic_bold-webfont.woff2') format('woff2'),
         url('../fonts/copperplate_gothic_bold-webfont.woff') format('woff'),
         url('../fonts/copperplate_gothic_bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
