/* ==========================================================================
   Search
   ========================================================================== */

.search-wrapper {
  @include outer-container;
  margin-top: 0;
  padding-right: $gutter;
  padding-left: $gutter;
  height: 1px;
}

/* 
   Google search form
   ========================================================================== */

#goog-fixurl {
  ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    li {
      list-style-type: none;
    }
  }
}

#goog-wm-qt {
  width: auto;
  margin-right: 8px;
  padding: 2px 2px;
  @include font-size(12);
  border-width: 1px;
  border-radius: $border-radius;
}

/* button */
#goog-wm-sb {
  @extend .btn;
}
