/* ==========================================================================
   Syntax highlighting and formatting
   ========================================================================== */

/* 
   Pygments.rb and Rouge
   ========================================================================== */

.highlight {
	background-color: #49483e;
	font-family: $code-font;
	color: #333332;
	margin-bottom: 1.5em;
	@include rounded($border-radius);
	pre {
		position: relative;
		margin: 0;
		padding: 1em;
	}

.c { color: #75715e } /* Comment */
.err { color: #960050; background-color: #1e0010 } /* Error */
.k { color: #66d9ef } /* Keyword */
.l { color: #ae81ff } /* Literal */
.n { color: #f8f8f2 } /* Name */
.o { color: #f92672 } /* Operator */
.p { color: #f8f8f2 } /* Punctuation */
.cm { color: #75715e } /* Comment.Multiline */
.cp { color: #75715e } /* Comment.Preproc */
.c1 { color: #75715e } /* Comment.Single */
.cs { color: #75715e } /* Comment.Special */
.ge { font-style: italic } /* Generic.Emph */
.gs { font-weight: bold } /* Generic.Strong */
.kc { color: #66d9ef } /* Keyword.Constant */
.kd { color: #66d9ef } /* Keyword.Declaration */
.kn { color: #f92672 } /* Keyword.Namespace */
.kp { color: #66d9ef } /* Keyword.Pseudo */
.kr { color: #66d9ef } /* Keyword.Reserved */
.kt { color: #66d9ef } /* Keyword.Type */
.ld { color: #e6db74 } /* Literal.Date */
.m { color: #ae81ff } /* Literal.Number */
.s { color: #e6db74 } /* Literal.String */
.na { color: #a6e22e } /* Name.Attribute */
.nb { color: #f8f8f2 } /* Name.Builtin */
.nc { color: #a6e22e } /* Name.Class */
.no { color: #66d9ef } /* Name.Constant */
.nd { color: #a6e22e } /* Name.Decorator */
.ni { color: #f8f8f2 } /* Name.Entity */
.ne { color: #a6e22e } /* Name.Exception */
.nf { color: #a6e22e } /* Name.Function */
.nl { color: #f8f8f2 } /* Name.Label */
.nn { color: #f8f8f2 } /* Name.Namespace */
.nx { color: #a6e22e } /* Name.Other */
.py { color: #f8f8f2 } /* Name.Property */
.nt { color: #f92672 } /* Name.Tag */
.nv { color: #f8f8f2 } /* Name.Variable */
.ow { color: #f92672 } /* Operator.Word */
.w { color: #f8f8f2 } /* Text.Whitespace */
.mf { color: #ae81ff } /* Literal.Number.Float */
.mh { color: #ae81ff } /* Literal.Number.Hex */
.mi { color: #ae81ff } /* Literal.Number.Integer */
.mo { color: #ae81ff } /* Literal.Number.Oct */
.sb { color: #e6db74 } /* Literal.String.Backtick */
.sc { color: #e6db74 } /* Literal.String.Char */
.sd { color: #e6db74 } /* Literal.String.Doc */
.s2 { color: #e6db74 } /* Literal.String.Double */
.se { color: #ae81ff } /* Literal.String.Escape */
.sh { color: #e6db74 } /* Literal.String.Heredoc */
.si { color: #e6db74 } /* Literal.String.Interpol */
.sx { color: #e6db74 } /* Literal.String.Other */
.sr { color: #e6db74 } /* Literal.String.Regex */
.s1 { color: #e6db74 } /* Literal.String.Single */
.ss { color: #e6db74 } /* Literal.String.Symbol */
.bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.vc { color: #f8f8f2 } /* Name.Variable.Class */
.vg { color: #f8f8f2 } /* Name.Variable.Global */
.vi { color: #f8f8f2 } /* Name.Variable.Instance */
.il { color: #ae81ff } /* Literal.Number.Integer.Long */

}

/* 
   Coderay
   ========================================================================== */

.CodeRay {
  background-color: #efefef;
  font-family: $code-font;
  @include font-size(12);
  color: #333332;
  margin-bottom: 1.5em;
  @include rounded(4px);
  pre {
    margin: 0px;
    padding: 1em;
  }
}

div.CodeRay { }
span.CodeRay { white-space: pre; border: 0px; padding: 2px }

table.CodeRay { border-collapse: collapse; width: 100%; padding: 2px }
table.CodeRay td {
  padding: 1em 0.5em;
  vertical-align: top;
}

ol.CodeRay { font-size: 10pt }
ol.CodeRay li { white-space: pre }

.CodeRay {

	.line-numbers, 
	.no {
	  background-color: #ececec;
	  color: #aaa;
	  text-align: right;
	}

	.line-numbers a {
	  color: #aaa;
	}

	.line-numbers tt { font-weight: bold }
	.line-numbers .highlighted { color: red }
	.line { display: block; float: left; width: 100%; }
	span.line-numbers { padding: 0 24px 0 4px }
	.code { width: 100% }

	.code pre { overflow: auto }
  .debug { color: white !important; background: blue !important; }
	.annotation { color: #007 }
	.attribute-name { color: #f08 }
	.attribute-value { color: #700 }
	.binary { color: #509; font-weight: bold }
	.comment  { color: #998; font-style: italic;}
	.char { color: #04d }
	.char .content { color: #04d }
	.char .delimiter { color: #039 }
	.class { color: #458; font-weight: bold }
	.complex { color: #a08; font-weight: bold }
	.constant { color: teal; }
	.color { color: #0a0 }
	.class-variable { color: #369 }
	.decorator { color: #b0b; }
	.definition { color: #099; font-weight: bold }
	.directive { color: #088; font-weight: bold }
	.delimiter { color: black }
	.doc { color: #970 }
	.doctype { color: #34b }
	.doc-string { color: #d42; font-weight: bold }
	.escape  { color: #666; font-weight: bold }
	.entity { color: #800; font-weight: bold }
	.error { color: #f00; background-color: #faa }
	.exception { color: #c00; font-weight: bold }
	.filename { color: #099; }
	.function { color: #900; font-weight: bold }
	.global-variable { color: teal; font-weight: bold }
	.hex { color: #058; font-weight: bold }
	.integer  { color: #099; }
	.include { color: #b44; font-weight: bold }
	.inline { color: black }
	.inline .inline { background: #ccc }
	.inline .inline .inline { background: #bbb }
	.inline .inline-delimiter { color: #d14; }
	.inline-delimiter { color: #d14; }
	.important { color: #f00; }
	.interpreted { color: #b2b; font-weight: bold }
	.instance-variable { color: teal }
	.label { color: #970; font-weight: bold }
	.local-variable { color: #963 }
	.octal { color: #40e; font-weight: bold }
	.operator { }
	.predefined-constant { font-weight: bold }
	.predefined { color: #369; font-weight: bold }
	.preprocessor { color: #579; }
	.pseudo-class { color: #00c; font-weight: bold }
	.predefined-type { color: #074; font-weight: bold }
	.reserved, 
	.keyword { color: #000; font-weight: bold }

	.key { color: #808; }
	.key .delimiter { color: #606; }
	.key .char { color: #80f; }
	.value { color: #088; }

	.regexp { background-color: #fff0ff }
	.regexp .content { color: #808 }
	.regexp .delimiter { color: #404 }
	.regexp .modifier { color: #c2c }
	.regexp .function  { color: #404; font-weight: bold }

	.string { color: #d20; }
	.string .string { }
	.string .string .string { background-color: #ffd0d0 }
	.string .content { color: #d14; }
	.string .char { color: #d14; }
	.string .delimiter { color: #d14; }

	.shell { color: #d14 }
	.shell .content { }
	.shell .delimiter { color: #d14 }

	.symbol { color: #990073 }
	.symbol .content { color: #a60 }
	.symbol .delimiter { color: #630 }

	.tag { color: #070 }
	.tag-special { color: #d70; font-weight: bold }
	.type { color: #339; font-weight: bold }
	.variable { color: #036 }

	.insert { background: #afa; }
	.delete { background: #faa; }
	.change { color: #aaf; background: #007; }
	.head { color: #f8f; background: #505 }

	.insert .insert { color: #080; font-weight: bold }
	.delete .delete { color: #800; font-weight: bold }
	.change .change { color: #66f; }
	.head .head { color: #f4f; }
}
