/*!
 * So Simple Jekyll Theme 3.1.1
 * Copyright 2013-2019 Michael Rose - mademistakes.com | @mmistakes
 * Free for personal and commercial use under the MIT license
 * https://github.com/mmistakes/so-simple-theme/blob/master/LICENSE
*/

@import "so-simple/functions";
@import "so-simple/variables";
@import "so-simple/mixins";
@import "so-simple/vendor/breakpoint/breakpoint";
@include breakpoint-set("to ems", true);
@import "so-simple/vendor/lity/lity";

/* Core Styles */
@import "so-simple/reset";
@import "so-simple/base";
@import "so-simple/tables";

/* Components */
@import "so-simple/global";
@import "so-simple/page";
@import "so-simple/author";
@import "so-simple/entries";
@import "so-simple/buttons";
@import "so-simple/icons";
@import "so-simple/notices";
@import "so-simple/syntax-highlighting";

/* Utility Clases */
@import "so-simple/utilities";
