---
sitemap: false
---
@charset "utf-8";
@import "so-simple/functions";
@import "so-simple/variables";
@import "so-simple/mixins";
@import "so-simple/vendor/breakpoint/breakpoint";
@include breakpoint-set("to ems", true);


//   AGENCY PAGE   //

.agency-title {
  text-align: center;
}

.agency-header {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.agency-banner {
  background-color: #000;
  background-size: cover;
  background-position: center;
  color: #FFF;
  box-shadow: 0px 2px 9px 0px #000;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  @media screen and (max-width: 768px) {
    padding-bottom: 0;
  }
}

.agency-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.agency-column {
//  flex: 25%;
  max-width: 20%;
  margin-left: 2rem;
  margin-right: 2rem;
  h3 {
    margin-top: 0;
    margin-bottom: 0.6rem;
  }
  p {
    margin-bottom: 0;
    text-align: justify;
  }
  @media screen and (max-width: 768px) {
    max-width: 80%;
    margin-bottom: 3rem;
  }
}

.agency-projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  .entry {
    max-width: 30rem;
    margin: 1rem auto;
    img {
      opacity: 1;
      margin-bottom: 0;
      transition: transform .2s ease-in-out; /* Zoom Animation */
    }
    &:hover {
      .p-caption {
        opacity: .8;
        transition: $global-transition;
      }
      img {
        opacity: .6;
        transition: $global-transition;
      }
    }


    .p-caption {
      position: absolute;
      top: 40%;
      width: 100%;
      text-align: center;
      z-index: 10;
      opacity: 0;
      cursor: pointer;
      background-color: white;
      padding-top: 1.5rem;
    }
    .entry-excerpt {
      margin-top: -0.75em;
    }
  }
}


.process-image-slidershow{
  width: 700px;
  overflow: hidden;
  display: block;
  position: relative;
  margin: 3rem auto;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.process-image-slides{
  width: 500%;
  display: flex;
}

.process-image-slide{
  width: 20%;
  height: 100%;
  transition: 0.6s;
}
.process-image-slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}

.process-headlines {
  text-align: center;
  border-bottom: 1px solid #fff;
  max-width: 975px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  @media screen and (max-width: 768px) {
    max-width: 330px;
    padding: 0;
  }
}

.process-headline-font {
  cursor: pointer;
  padding: 12px 20px 5px;
  font-family: $headline-font-family;
  font-size: 1.2rem;
  text-rendering: optimizeLegibility; /* enable common ligatures and kerning */
  //@include fluid-type($min-vw, $max-vw, $h3-min, $h3-max);
  @media screen and (max-width: 768px) {
    padding: 8px 15px 0px;
  }
}

.flex-process-headline {
  display: flex;
  justify-content: center;
}

.process-slider1 { } // this class is empty but necessary to allow jQuery to add another class -> process-active
.process-slider2 { } // this class is empty but necessary to allow jQuery to add another class -> process-active
.process-slider3 { } // this class is empty but necessary to allow jQuery to add another class -> process-active
.process-slider4 { } // this class is empty but necessary to allow jQuery to add another class -> process-active
.process-slider5 { } // this class is empty but necessary to allow jQuery to add another class -> process-active
.process-slider-text1 { } // this class is empty but necessary to allow jQuery to add another class -> process-active
.process-slider-text2 { } // this class is empty but necessary to allow jQuery to add another class -> process-active
.process-slider-text3 { } // this class is empty but necessary to allow jQuery to add another class -> process-active
.process-slider-text4 { } // this class is empty but necessary to allow jQuery to add another class -> process-active
.process-slider-text5 { } // this class is empty but necessary to allow jQuery to add another class -> process-active

.process-slider-text {
  width: 40%;
  text-align: justify;
  margin: auto;
  p {
    height: 2rem;
  }
  @media screen and (max-width: 768px) {
    width: 90%;
    p {
      height: 8rem;
    }
  }
}

.flex-process-description {
  ol {
    list-style-type: none;
    padding: 1rem 0 0;
  }
}

.process-descriptions {
  display: block;
  text-align: center;
}

.process-active {
  background-color: #352860;
  transition: .2s;
}

.process-text-inactive {
  p {
    display: none;
  }
}



.agency-clients {
  h2 {
    margin-top: 3em;
    text-align: center;
  }
  .agency-clients-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    .agency-client {
      display: inline-block;
      vertical-align: middle;
      height: 110px;
      padding: 1.5em;
      img {
        max-width:100%;
        max-height:100%;
      }
    }
  }
}


.agency-contact-banner {
  background-color: #000;
  background-size: cover;
  background-position: center;
  color: #FFF;
  box-shadow: 0px 2px 9px 0px #000;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}


.agency-contact {
  display: block;
  margin: 0;
  text-align: center;
  p {
     margin-bottom:0.35rem;
  }
  p .btn--aio {
    background-color: #000;
    color: #fff;
    border: 2px solid #7555d8;
    transition: 0.2s;
    margin-top:0.3rem;
    margin-bottom:0.3rem;
  }
  .btn {
    display: inline-block;
    margin-bottom: 0.25rem;
    padding: 0.5rem 1rem;
    font-family: $sans-serif-font-family;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-width: 0;
    border-radius: $border-radius;
    cursor: pointer;
  }
  .btn--aio:hover {
    background-color: #fff;
    color: #000;
  }
}
