---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---
@charset "utf-8";
@import "so-simple/functions";
@import "so-simple/variables";
@import "so-simple/mixins";
@import "so-simple/vendor/breakpoint/breakpoint";
@include breakpoint-set("to ems", true);

.landing-logo{
  .site-logo-img {
    width: 6.5em;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .site-title {
    font-size: 2.5em;
    font-weight: 400;
  }
  .site-description {
    font-size: 1.75em;
  }
}

.landing-title {
  margin-top: 3em;
  margin-bottom: 3em;
  font-size: 2em;
  h1::after {
    content: "";
    width: 8%;
    left: 46%;
    @include breakpoint($medium) {
      width: 10%;
      left: 45%;
    }
    height: 3px;
    background-color: #CCC;
    position: absolute;
    bottom: 0;
    opacity: 0.5;
  }
}

.landing-banner {
  background-color: #000;
  background-size: cover;
  background-position: center;
  color: #FFF;
  box-shadow: 0px 2px 9px 0px #000;
  margin-bottom: 2em;
  a {
    color: #FFF;
  }
  a:hover {
    color: #FFF;
  }

  .landing-split {
    text-align: center;
    display: flex;
    margin-left: 2.5em;
    width: 100%;
    opacity: 0.5;
    @include breakpoint($medium) {
      margin-left: 5em;
    }
    &:hover {
      opacity: 1.0;
      transition: $global-transition;
    }
/*    @include breakpoint($large) {
      margin-left: 2.5%;
      width: 95%;
    }
    @include breakpoint($xxlarge) {
      margin-left: 10%;
      width: 80%;
    }
    @include breakpoint($xxxlarge) {
      margin-left: 15%;
      width: 70%;
    } */
    .landing-split-section {
      vertical-align: top;
      position: relative;
      width: 100%;
      height: 11.5em;
      @include breakpoint($medium) {
        display: inline-block;
      }

      .landing-split-options {
        position: absolute;
//        right: 0;  //placed in split-left
//        left: 0;   //placed in split-right
        h3 {
          margin-top: 0.5em;
          font-size: 1em;
        }
        h5 {
          font-family: $handwriting-font-family;
          font-weight: 200;
          font-size: 1.75em;
        }
        img {
          margin-top: -0.7em;
          max-height: 3.7em;
        }
        div {
          display: inline-block;
          width: 32%;
        }
        .lso-one {
          width: 100%;
        }
      }
      .split-left {
        top: 3.5em;
        right: 0;
      }
      .split-right {
        top: 4.8em;
        left: 0;
      }
      .options-logo {
        img {
          margin-top: -2.25em;
          max-height: 4em;
        }
      }
    }
    .landing-split-section-center {
      vertical-align: top;
      position: relative;
      padding-left: 5em;
      height: 11.5em;
      @include breakpoint($medium) {
        display: inline-block;
        width: 10%;
        padding-left: 15em;
      }
      .landing-split-options {
        position: absolute;
        top: 4.8em;
        right: 0;
        left: 0;
        p {
          font-size: 1.5em;
          font-family: $sans-serif-font-family2;
        }
      }
    }
  }
}



// -- ORIGINAL Landing-banner -- //

/*.landing-banner {
  //background-image: url('/images/MNPRX/stylized-3D.jpg');
  background-color: #000;
  background-size: cover;
  background-position: center;
  color: #FFF;
  box-shadow: 0px 2px 9px 0px #000;
  margin-bottom: 2em;

  .landing-split {
    text-align: center;
    display: block;
    margin-left: 0em;
    width: 100%;
    @include breakpoint($large) {
      margin-left: 2.5%;
      width: 95%;
    }
    @include breakpoint($xxlarge) {
      margin-left: 10%;
      width: 80%;
    }
    @include breakpoint($xxxlarge) {
      margin-left: 15%;
      width: 70%;
    }
    .landing-split-section {
      vertical-align: top;
      position: relative;
      width: 100%;
      height: 11.5em;
      opacity: 0.5;
      &:hover {
        opacity: 1.0;
        transition: $global-transition;
      }
      @include breakpoint($medium) {
        display: inline-block;
        width: 49%;
      }
      h2 {
        margin-top: 0;
        font-size: 1.0em;
        padding-top: 2.1em;
        text-transform: uppercase;
        position: relative;
        padding-bottom: 0.1em;
      }
      h2::after {
        content: "";
        width: 8%;
        left: 46%;
        @include breakpoint($medium) {
          width: 10%;
          left: 45%;
        }
        height: 1.5px;
        background-color: #CCC;
        position: absolute;
        bottom: 0;
        opacity: 0.5;
      }
      .landing-split-options {
        position: absolute;
        top: 4.8em;
        right: 0;
        left: 0;
        a {
          color: #FFF;
          opacity: 0.75;
          border-bottom: none;
          &:hover {
            opacity: 1.0;
          }
        }
        h3 {
          margin-top: 0.5em;
          font-size: 1em;
        }
        img {
          margin-top: -0.7em;
          max-height: 3.7em;
        }
        img:hover {
          opacity: 1.0;
        }
        div {
          display: inline-block;
          width: 32%;
        }
        .lso-one {
          width: 100%;
        }
      }
    }
  }
} */

.two-split {
  div {
    vertical-align: top;
    width: 100%;
    @include breakpoint($medium) {
      display: inline-block;
      width: 45%;
      margin-left: 2.4%;
      margin-right: 2.4%;
    }
    h2 {
      text-align: center;
    }
  }
}

.landing-clients {
  h2 {
    margin-top: 3em;
    text-align: center;
  }
  .landing-clients-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    .landing-client {
      display: inline-block;
      vertical-align: middle;
      height: 110px;
      padding: 1.5em;
      img {
        max-width:100%;
        max-height:100%;
      }
    }
  }
}
