---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---
@charset "utf-8";
@import "so-simple";

// modify theme
.navigation-wrapper {
  border-top: solid 0.25em $nav-background-color;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}
.page-wrapper-landing {
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 960px;
}
h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
video {
  width: fit-content;
  max-width: 100%;
  padding: 0 0.5em;
}
img {
  max-width: 100%;
}


.layout--plain {
  border-top: none;
}
.main-content {
  overflow: hidden;
}
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.background-video {
  z-index: -1;
}


// navigation
.site-nav ul {
  border-radius: 0;
  font-size: 1.3em;
  padding-bottom: 0.2em;
  li {
    display: block;
  }
  .navigation-logo img {
    height: 2em;
    margin-top: -0.2em;
  }
  @include breakpoint($medium) {
    border-radius: 0 0 0.3em 0.3em;
    font-size: 1em;
    li {
      display: inline-block;
    }
    .navigation-logo {
      padding-right: 0.4em;
      position: relative;
      top: -0.05em;
      img {
        height: 1.8em;
        margin-top: -0.2em;
      }
    }
  }
}
.site-nav ul > :last-child a {
  @include breakpoint($medium) {
    padding-left: 0.4em;
    position: relative;
    top: -0.05em;
  }
}

// masthead
.masthead {
  .site-title {
    a {
      display: block;
      line-height: 1.2em;
      font-weight: 400;
    }
    font-family: "Nanum Brush Script";
    margin-top: 0em;
    font-size: 2em;
  }
  .site-logo-img {
    margin-bottom:0;
    margin-top:50px;
    @include breakpoint($large) {
      margin-top: 70px;
    }
    max-width: 100px;
    max-height: 100px;
    border: 0px;
  }
  .site-description {
    font-family: "Nanum Brush Script";
    font-style: normal;
    word-spacing: -0.1em;
    margin-top: -0.5em;
    font-size: 1.4em;
    color: #666;
  }
}


// header
.page-image {
  margin-top: 0;
}
.page-title {
  font-style: normal;
  font-size: 1.5em;
  @include breakpoint($medium) {
    font-size: 2.5em;
  }
}

// page content
.page-content {
  text-align: justify;
  position: relative;
  header {
    a {
      border-bottom: none;
    }
  }
  ul {
    text-align: left;
  }
  .entry-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .entry-title {
      flex-shrink: 1;
      font-style: normal;
      font-size: 1.0em;
      @include breakpoint($medium) {
        font-size: 1.2em;
      }
      a {
        border-bottom: none;
      }
    }
    .aio-award {
      margin-top: 0.75em;
      margin-left: 0.5em;
      flex: 1 0 25px;  // shrinkable, not growable, 25px width
    }
  }
  .entry-meta {
    margin-top: -0.6em;
    color: #999;
    font-family: $meta-font-family;
    .entry-date, .read-time {
      font-style: normal;
    }
    .entry-date + .read-time::before {
      content: "\2022";
      padding: 0 0.5em;
    }
  }
  .subtitle {
    font-size: 0.8em;
    margin-top: -1.3em;
    margin-bottom: 0.5em;
    font-style: italic;
    color: #999;
  }
  a {
    text-decoration: none;
    border-bottom: 1px dotted #a2a2a2;
    img:hover{
      opacity: 0.7;
    }
  }
  figure a {
    border-bottom: none;
    figcaption a {
      border-bottom: 1px dotted #a2a2a2
    }
  }

  // modify margin of article in list
  .entries-list .entry {
    margin-bottom: 0;
  }

  // extra wide elements
  .expand {
    margin-top: 6em;
    width: 140%;
    margin-left: -20%;
  }

  // GRID
  .entries-grid{
    h3 {
      margin-top: 0.25em;
    }
  }
}

// images
figcaption {
  color: #666;
  font-style: italic;
}
.responsive-embed + figcaption {
  margin-top: -1em;
}

.pull-center {
  text-align: center;
  img {
    @include breakpoint($medium) {
      display: inline-block;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
    margin-bottom: 1em;
  }
  figcaption {
    margin-top: -0.5em;
  }
}

.pull-right {
  float: none;
  text-align: center;
  @include breakpoint($medium) {
    float:right;
    margin-left: 1em;
  }
}

.pull-left {
  float: none;
  text-align: center;
  @include breakpoint($medium) {
    float:left;
    margin-right: 1em;
  }
}

.align-right {
  width: 100%;
  float: none;
  text-align: center;
  @include breakpoint($medium) {
    float:right;
  }
}

.half img {
  max-width: 100%;
  @include breakpoint($medium) {
    max-width: 47%;
  }
}

.third img {
  max-width: 100%;
  @include breakpoint($medium) {
    max-width: 32%;
  }
}

// artineering buttons
p .btn--aio {
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  transition: 0.2s;
  margin-top:0.3em;
  margin-bottom:0.3em;
}

.btn--aio:hover {
  background-color: #fff;
  color: #000;
}

.main-content .social-icons > a {
  border-bottom: none;
  color: #000;
  margin-right: 1em;
}

// footer
.social-icons > a {
  color: #AAA;
}

.schematic{
  p {
    margin: 0.2em 0;
  }
}


.publication {
  .publication-info{
    text-align: center;
  	p {
  		font-size: 1.2rem;
  		margin:0;
  	}
  	.authors{
  		span {
  			white-space: nowrap;
  		}
  		p {
  			a {
  				margin: 0 15px;
  			}
  		  font-variant: small-caps;
  			font-size: 1.5rem;
  			margin: 2px;
  		}
  	}
  	.university{
  		p{
  			font-size: 1.2rem;
  			margin-bottom:20px;
  		}
  	}
  	.published-in{
  		p{
  			font-size:1rem;
  			margin:2px;
  		}
  	}
  	.doi {
  		p{
  			font-size: 0.75rem;
  			margin-bottom: 20px;
  		}
  	}
  }
	.abstract {
		max-width: 90%;
		margin: 0 auto;
	}
}


// CONTACT
.contact {
  p {
     margin-bottom:0.35em;
  }
  display: inline-block;
  padding-right: 1em;
  padding-left: 1em;
  margin: 0;
  margin-bottom: 1em;
}

// SERVICES
.side-gfx {
  width:200px;
  @include breakpoint($medium) {
    width: 350px;
    margin-bottom: 0;
    margin-top: -3.5em;
    margin-left: 2em;
    margin-right: 2em;
  }
}

// MNPRX
.mnprx-links {
  margin-top: 0.5em;
  @include breakpoint($medium) {
    margin-top: 3.5em;
  }
}

// DOCUMENTATION
.doc-element {
  display: inline-block;
  width: 250px;
  max-width: 100%;
  justify-self: center;
  h3 {
    margin-left: 0.5em;
  }
}

// Doc navigation
.docnavigation {
  font-size: 1.2em;
  color: #999;
}
.doc-toc-right {
  position: absolute;
  right: 0;
  top: 0.6em;
  display:block;
  border: none;
  background-color: #FFF;
  padding-left: 0.5em;
  P {
    margin-bottom: 0em;
  }
  a {
    cursor: pointer;
    font-size: 1.2em;
    background-color: #FFF;
    color: #999;
  }
  a:hover{
    transition: all 0.4s ease;
    color: #000;
  }
  ol {
    list-style: none;
    counter-reset: li;
    margin-left: -1em;
    li {
      counter-increment: li;
      a {
        font-size: 1.2em;
        background-color: #FFF;
        color: #999;
        font-weight: 400;
      }
      // second header
      ol {
        list-style: none;
        counter-reset: li;
        margin-left: 0em;
        font-size: 0.7em;
        li {
          counter-increment: li;
          a {
            font-size: 1.2em;
            background-color: #FFF;
            color: #999;
            font-weight: 400;
          }
        }
        li::before {
          content: none;
        }
      }
    }
    li::before {
      content: counter(li);
      color: #999;
      display: inline-block;
      width: 1em;
      margin-left: -1.5em;
      margin-right: 0.5em;
      text-align: right;
      direction: rtl;
    }
  }
}

// PRODUCT OVERVIEWS
.aio-overview {
  text-align: center;
  .aio-section {
    padding-top: 6em;
    padding-bottom: 6em;
    margin-bottom: 2em;
    overflow: hidden;
    position: relative;
    h2 {
      margin: 0 auto;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 0.1em;
    }
    h2::after{
      content: "";
      width: 20%;
      left: 40%;
      @include breakpoint($medium) {
        width: 6%;
        left: 47%;
      }
      height: 2px;
      background-color: white;
      position: absolute;
      bottom: 0;
    }
    .aio-section-options {
      margin-top: -1em;
      p {
        position: relative;
        display: inline-block;
        padding: 0em 1em;
        font-family: $sans-serif-font-family2;
        font-size: 1.2em;
        a {
          color: #000;
          opacity: 0.5;
          transition: 0.2s;
          &:hover {
            opacity: 1.0;
          }
        }
      }
    }
    .overview-image-caption {
      position: absolute;
      bottom: 0;
      right: 0;
      color: #fff;
      background-color: #000;
      opacity: 0.5;
      padding: 0.1em 1em 0 0.5em;
      font-size: 0.75em;
      border-radius: 4px 0 0 0;
    }
    p {
      padding: 0.5em 3em 0;
      font-weight: bold;
    }
    .background-video {
      video {
        position: absolute;
        z-index: -1;
        opacity: 0.35;
        height: 100%;
        width: 355vh; // 100 * 1920 / 540
        min-width: 100%;
        max-width: none;
        min-height: 28.125vw; // 100 * 540 / 1920
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); /* % of current element */
      }
    }
  }
  .mnprx-stylized {
    background-image: url('/images/MNPRX/stylized-3D.jpg');
    background-size: cover;
    background-position: center;
  }
  .mnprx-art-direction {
    background-image: url('/images/MNPRX/art-direction.jpg');
    background-size: cover;
    background-position: center;
  }
  .mnprx-integration {
    background-image: url('/images/MNPRX/integration.jpg');
    background-size: cover;
    background-position: center;
  }
  .mnprx-customization {
    background-image: url('/images/MNPRX/customize.jpg');
    background-size: cover;
    background-position: center;
  }
}

// COMPARISONS
.aio-pricing {
  position: relative;
  background-color: #fff;

  .pricing-table {
    margin: 0 1em;
    padding: 5px 25px 0px;
    border-radius: 10px;
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;

    @media (min-width: 900px) {
      flex-direction: row;
    }

    * {
      text-align: center;
      text-transform: uppercase;
    }

    h2 {
      font-size: 1em;
    }

    ul {
      font-weight: 600;
      letter-spacing: 1px;
      margin: 50px 0 25px;
      list-style-type: none;
      padding-inline-start: 0;
      li {
        border-top: 1px solid #DDD;
        font-size: 12px;
        line-height: 1.5;
        padding: 15px 0;
      }
      li:last-child{
        border-bottom: 1px solid #DDD;
      }
    }
  }
  .pricing-plan {
    border-bottom: 1px solid #DDD;
    padding: 25px;
    padding-top: 5em;
  }

  .pricing-plan:last-child {
    border-bottom: none;
  }

  @media (min-width: 900px) {
    .pricing-plan {
      border-bottom: none;
      border-right: 1px solid #DDD;
      flex-basis: 100%;
      padding: 25px 50px;
      padding-top: 3em;
      .space-out {
        li:first-child {
          padding-top: 33px;
          padding-bottom: 33px;
        }
      }

    }
    .pricing-plan:last-child {
      border-right: none;
    }
  }
  .pricing-price {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1.3em;
    span{
      text-transform: none;
    }
    span:first-child {
      font-weight: bold;
    }
    p {
      text-transform: none;
      font-size: 0.6em;
      margin-top: -0.4em;
    }
  }
  .pricing-quantity {
    border-top: 1px solid #DDD;
    padding-top: 1.2em;
    font-size: 0.8em;
    span {
      text-transform: none;
      margin-right:0.5em;
    }
  }

  .pricing-disclaimer{
    margin-top: 1.5em;
    li {
      font-size: 0.6em;
    }
  }
}



// ABOUT
// navigation
.about-main {
  position: relative;
#about-nav {
  position: absolute;
  z-index: 1;
  top: 0.5em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  ul {
    padding: 0;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    li {
      display: inline-block;
      //margin: 0 1em;
      padding: 0 1.2em;
      padding-top: 0.35em;
      text-transform: uppercase;
      font-size: 0.7em;
      font-family: $sans-serif-font-family2;
      a {
        color: $accent-color;
        text-decoration: underline;
      }
      .about-active {
        color: black;
        text-decoration: none;
      }
    }
    * { box-sizing: border-box; }
    @include breakpoint($small) {
      li + li {
        border-left: 1px solid #AAA;
      }
    }
  }
} // end navigation

// members
.aio-team {
  text-align: center;
  margin: 2em auto 0;
  .aio-team-member {
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    img {
      width: 300px;
      border-radius: 50%;
    }
    .aio-team-name {
      margin-top: 0.5em;
      font-family: "Josefin Sans";
    }
    .aio-team-role {
      font-family: "Josefin Sans";
      font-size: 0.8em;
    }
    .aio-team-social {
      a {
        border-bottom: none;
      }
    }
  }
}

// publications
h2 {
  text-align: center;
}
.aio-symbols {
  display: flex;
  flex-flow: row wrap;
  //justify-content: center;
  //justify-content: space-between;
  span {
    margin-right: 2em;
  }
  svg {
    margin-right: 0.75em;
  }
}
}

// SUPPORT
.aio-support-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-between;
  div {
    box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
    border-radius: 0.5em;
    flex: 1 0 80%;
    padding: 0.5em;
    margin: 0.5em;
    @include breakpoint($small) {
      flex: 1 0 40%;
      padding: 1em;
    }
    @include breakpoint($large) {
      flex: 1 0 28%;
    }
    h3 a {
        margin-left: 0em;
    }
    a {
      margin-left: 1em;
    }
  }
}

// NEWS

.two-split-news {
  div {
    vertical-align: top;
    width: 100%;
    @include breakpoint($medium) {
      display: inline-block;
      width: 45%;
      margin-left: 2.4%;
      margin-right: 2.4%;
    }
    h2 {
      text-align: center;
    }
  }
}
.main-twitter {
  .twitter-follow {
    width: 100%;
  }
  .twitter-news {
    width: 100%;
  }
}

// CAREERS
.aio-careers-center {
  text-align: center;
}
.aio-careers-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-between;
  div {
//    box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
//    border-radius: 0.5em;
    flex: 1 0 80%;
    padding: 0.5em;
    margin: 0.5em;
    @include breakpoint($small) {
      flex: 1 0 40%;
      padding: 1em;
    }
    @include breakpoint($large) {
      flex: 1 0 28%;
    }
  }
}
.aio-careers-grid ::after{
  content: "";
  width: 20%;
  left: 40%;
  @include breakpoint($medium) {
    width: 6%;
    left: 47%;
  }
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
}
.aio-careers-initiative {
  p:first-of-type {
    font-size: 1.2em;
  }
}

.aio-hr {      // line break
    display: block;
    height: 1px;
    border: 0;
    border-top: 1.5px solid #ccc;
    margin: 1em 0;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
}


// FOOTER
.aio-footer{
  a {
    margin: 0 1em;
    line-height: 1em;
    font-size: 0.75em;
    text-decoration: none;
    border-bottom: 1px dotted #a2a2a2;
    color: $accent-color;
    -webkit-transition: $global-transition;
    transition: $global-transition;
    &:hover {
      color: shade($accent-color, 25%);
    }
  }
}

// helpers
.right05 { margin-right: 0.5em; }
.right1 { margin-right: 1em; }
.right2 { margin-right: 2em; }
.right-05 { margin-right: 0; }
.right-1 { margin-right: -1em; }
.right-2 { margin-right: -2em; }
.left05 { margin-left: 0.5em; }
.left1 { margin-left: 1em; }
.left2 { margin-left: 2em; }
.left-05 { margin-left: -0.5em; }
.left-1 { margin-left: -1em; }
.left-2 { margin-left: -2em; }
.top05 { margin-top: 0.5em; }
.top1 { margin-top: 1em; }
.top2 { margin-top: 2em; }
.top-05 { margin-top: -0.5em; }
.top-1 { margin-top: -1em; }
.top-2 { margin-top: -2em; }
.bottom05 { margin-bottom: 0.5em; }
.bottom1 { margin-bottom: 1em; }
.bottom2 { margin-bottom: 2em; }
.bottom-05 { margin-bottom: -0.5em; }
.bottom-1 { margin-bottom: -1em; }
.bottom-2 { margin-bottom: -2em; }
.opacity05 { opacity: 0.5; }


/*
   Twitter feed alignment
   ========================================================================== */
.responsive-twitter {
  width: 100%;
  text-align: center;
  @include breakpoint($small) {
    margin: 50px auto 0;
  }
  @include breakpoint($xxlarge) {
    position: fixed;
    z-index: 10;
    right: 0px;
    top: 0px;
    margin-top: 0;
    width: 250px;
    border-top: 0.25em solid black;
  }
}


/*
   Osano cookie consent
  ========================================================================== */
// don't show popup on mobile after accepted or revoked
.cc-revoke {
  font-size: 0.75em;
  @media screen and (max-width: 768px) {
    display: none;
  }

}



/*
   Slick carousel
   ========================================================================== */
.aio-slick {
  p {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    color: #999;
    margin: 0.2em auto 0;
  }
  span {
    display: inherit;
    text-align: right;
    margin-top: -3.3em;
    margin-right: 0.5em;
    margin-bottom: 2em;
    font-size: 0.7em;
    color: #999;
  }
  img {
    margin: 0 auto;
  }
}
.slick-dots  {
  text-align: center !important;
}
