---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---
@charset "utf-8";
@import "so-simple";

// modify theme
h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
video {
  max-width: 100%;
}
img {
  max-width: 100%;
}

// navigation
.site-nav ul {
  border-radius: 0;
  font-size: 1.3em;
  li {
    display: block;
  }
  .navigation-logo img {
    height: 2em;
    margin-right: 0.7em;
    margin-top: -0.2em;
  }
  @include breakpoint($medium) {
    border-radius: 0 0 0.3em 0.3em;
    font-size: 1em;
    li {
      display: inline-block;
    }
    .navigation-logo img {
      height: 1.8em;
      margin-right: 0.7em;
      margin-top: -0.2em;
    }
  }
}

// masthead
.masthead {
  margin-bottom:0;
  margin-top:1em;
  @include breakpoint($large) {
    margin: 0;
  }
  .site-title {
    a {
      display: block;
      line-height: 1.2em;
    }
    font-family: "Nanum Brush Script";
    margin-top: 0em;
    font-size: 2em;
  }
  .site-logo-img {
    max-width: 100px;
    max-height: 100px;
    border: 0px;
  }
  .site-description {
    font-family: "Nanum Brush Script";
    font-style: normal;
    word-spacing: -0.1em;
    margin-top: -0.5em;
    font-size: 1.4em;
    color: #666;
  }
}


// header
.page-image {
  margin-top: 0;
}
.page-title {
  font-style: normal;
  font-size: 1.5em;
  @include breakpoint($medium) {
    font-size: 2.5em;
  }
}


// page content
.page-content {
  text-align: justify;
  position: relative;

  header {
    a {
      border-bottom: none;
    }
  }
  ul {
    text-align: left;
  }

  .entry-title {
    font-style: normal;
    font-size: 1.2em;
    @include breakpoint($medium) {
      font-size: 1.5em;
    }
    a {
      border-bottom: none;
    }
  }
  .subtitle {
    font-size: 0.8em;
    margin-top: -1.5em;
    margin-bottom: 0.5em;
    font-style: italic;
    color: #999;
  }
  a {
    text-decoration: none;
    border-bottom: 1px dotted #a2a2a2;
    img:hover{
      opacity: 0.7;
    }
  }
  figure a {
    border-bottom: none;
    figcaption a {
      border-bottom: 1px dotted #a2a2a2
    }
  }

  .entry-meta {
    margin-top: -0.8em;
    color: #999;
  }
  .entry-meta .entry-date, .entry-meta .read-time {
    font-style: normal;
  }
  .entry-date + .read-time::before {
    content: "\2022";
    padding: 0 0.5em;
  }

  // modify margin of article in list
  .entries-list .entry {
    margin-bottom: 0;
  }
}

// images
figcaption {
  color: #666;
  font-style: italic;
}
.responsive-embed + figcaption {
  margin-top: -1em;
}

.pull-center {
  text-align: center;
  img {
    @include breakpoint($medium) {
      display: inline-block;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
    margin-bottom: 1em;
  }
  figcaption {
    margin-top: -0.5em;
  }
}

.align-right {
  float: none;
  text-align: center;
  @include breakpoint($medium) {
    float:right;
  }
}

.half img {
  max-width: 100%;
  @include breakpoint($medium) {
    max-width: 47%;
  }
}

.third img {
  max-width: 100%;
  @include breakpoint($medium) {
    max-width: 32%;
  }
}

// artineering buttons
p .btn--aio {
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  transition: 0.2s;
  margin-right: 1em;
}

.btn--aio:hover {
  background-color: #fff;
  color: #000;
}

.main-content .social-icons > a {
  border-bottom: none;
  color: #000;
  margin-right: 1em;
}

// footer
.social-icons > a {
  color: #AAA;
}



.publication {
  .publication-info{
    text-align: center;
  	p {
  		font-size: 1.2rem;
  		margin:0;
  	}
  	.authors{
  		span {
  			white-space: nowrap;
  		}
  		p {
  			a {
  				margin: 0 15px;
  			}
  		  font-variant: small-caps;
  			font-size: 1.5rem;
  			margin: 2px;
  		}
  	}
  	.university{
  		p{
  			font-size: 1.2rem;
  			margin-bottom:20px;
  		}
  	}
  	.published-in{
  		p{
  			font-size:1rem;
  			margin:2px;
  		}
  	}
  	.doi {
  		p{
  			font-size: 0.75rem;
  			margin-bottom: 20px;
  		}
  	}
  }
	.abstract {
		max-width: 90%;
		margin: 0 auto;
	}
}


// Documentation
.doc-element {
  display: inline-block;
  width: 240px;
  max-width: 100%;
  margin-right: 1em;
  margin-bottom: 2.5em;
}

// Doc navigation
.docnavigation {
  font-size: 1.2em;
  color: #999;
}
.doc-toc-right {
  position: absolute;
  right: 0;
  top: 0.6em;
  display:block;
  border: none;
  background-color: #FFF;
  padding-left: 0.5em;
  P {
    margin-bottom: 0em;
  }
  a {
    cursor: pointer;
    font-size: 1.2em;
    background-color: #FFF;
    color: #999;
  }
  a:hover{
    transition: all 0.4s ease;
    color: #000;
  }
  ol {
    list-style: none;
    counter-reset: li;
    margin-left: -1em;
    li {
      counter-increment: li;
      a {
        font-size: 1.2em;
        background-color: #FFF;
        color: #999;
        font-weight: 400;
      }
      // second header
      ol {
        list-style: none;
        counter-reset: li;
        margin-left: 0em;
        font-size: 0.7em;
        li {
          counter-increment: li;
          a {
            font-size: 1.2em;
            background-color: #FFF;
            color: #999;
            font-weight: 400;
          }
        }
        li::before {
          content: none;
        }
      }
    }
    li::before {
      content: counter(li);
      color: #999;
      display: inline-block;
      width: 1em;
      margin-left: -1.5em;
      margin-right: 0.5em;
      text-align: right;
      direction: rtl;
    }
  }
}


// helpers
.right05 { margin-right: 0.5em; }
.right1 { margin-right: 1em; }
.right2 { margin-right: 2em; }
.right-05 { margin-right: 0; }
.right-1 { margin-right: -1em; }
.right-2 { margin-right: -2em; }
.left05 { margin-left: 0.5em; }
.left1 { margin-left: 1em; }
.left2 { margin-left: 2em; }
.left-05 { margin-left: -0.5em; }
.left-1 { margin-left: -1em; }
.left-2 { margin-left: -2em; }
.top05 { margin-top: 0.5em; }
.top1 { margin-top: 1em; }
.top2 { margin-top: 2em; }
.top-05 { margin-top: -0.5em; }
.top-1 { margin-top: -1em; }
.top-2 { margin-top: -2em; }
.bottom05 { margin-bottom: 0.5em; }
.bottom1 { margin-bottom: 1em; }
.bottom2 { margin-bottom: 2em; }
.bottom-05 { margin-bottom: -0.5em; }
.bottom-1 { margin-bottom: -1em; }
.bottom-2 { margin-bottom: -2em; }


/*
   Twitter feed alignment
   ========================================================================== */
.responsive-twitter {
  width: 100%;
  text-align: center;
  @include breakpoint($small) {
    margin: 50px auto 0;
  }
  @include breakpoint($xxlarge) {
    margin-top: 1em;
    width: 250px;
    z-index: 10;
    position: fixed;
    right: 0;
    top: 0px;
  }
}
