---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---
@charset "utf-8";
@import "so-simple";

// modify theme
.navigation-wrapper {
  border-top: solid 0.25em $nav-background-color;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
}
.page-wrapper-landing {
  margin: 0 auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: 960px;
}
h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}
h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
video {
  width: fit-content;
  max-width: 100%;
  padding: 0 0.5em;
}
img {
  max-width: 100%;
}


.layout--plain {
  border-top: none;
}
.main-content {
  margin-top: 3em;
  overflow: hidden;
}
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.almost-full-width {
  width: 98vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -49vw;
  margin-right: -49vw;
}
.background-video {
  z-index: -1;
}


// navigation
.site-nav {
  font-size: 1em;
  ul {
    min-height: 2.3em;
    border-radius: 0;
    padding: 0.3em 1em 0.5em;
    font-size: 1.25em;
    li {
      display: block;
    }
    .navigation-logo svg {
      height: 2em;
      margin-top: -0.2em;
      fill: #CCC;
      &:hover {
        transition: all 0.4s ease;
        fill: #FFF;
      }
    }
    @include breakpoint($medium) {
      border-radius: 0 0 0.3em 0.3em;
      font-size: 1em;
      li {
        a {
          padding: 0 1em;
          border: none;
          border-radius: 0;
        }
        font-size: 0.8em;
        display: inline-block;
        .navigation-logo {
          font-size: 0.85em;
          border: none;
          padding-right: 0.5em;
          position: relative;
          top: 0.3em;
        }
      }
      & > :last-child a {
        padding-left: 0.5em;
        position: relative;
        top: -0.05em;
      }
    }
  }
}
.navigation-download {
  font-size: 1em;
  padding: 0.35em 1em 0.6em;
  visibility: hidden;
  position: fixed;
  top: 0.2em;
  right: 0;
  margin: 0;
  z-index: 100;
  text-transform: uppercase;
  background-color: black;
  border-radius: 0 0 0 0.3em;
  a {
    color: #CCC;
    text-decoration: none;
    font-size: 0.8em;
    font-family: $sans-serif-font-family2;
    &:hover {
      color: #FFF;
    }
  }
  @include breakpoint($medium) {
    visibility: visible;
  }
}

// masthead
.masthead {
  .site-title {
    a {
      display: block;
      line-height: 1.2em;
    }
    font-family: "Nanum Brush Script";
    margin-top: 0em;
    font-size: 2.1em;
    font-weight: 400;
  }
  .site-logo-img {
    margin-top: 2.5em;
    margin-bottom: 0em;
    max-width: 5em;
    max-height: 5em;
    border: 0px;
  }
  .site-description {
    font-family: "Nanum Brush Script";
    font-style: normal;
    word-spacing: -0.1em;
    margin-top: -0.5em;
    font-size: 1.55em;
    color: #666;
  }
  margin-bottom: -3em;
}


// header
.page-image {
  margin-top: 0;
  margin-bottom: 0;
}
.page-title {
  margin-top: 0.8em;
  font-style: normal;
  font-size: 1.5em;
  @include breakpoint($medium) {
    font-size: 2.5em;
  }
}

// page content
.page-content {
  text-align: justify;
  position: relative;
  header {
    a {
      border-bottom: none;
    }
  }
  ul {
    text-align: left;
  }
  p + ul {
    margin-top: -1em;
  }
  p + ol {
    margin-top: -1em;
  }
  .blog-list {
    a {
      font-size: 1.7em;
    }
    footer {
      margin-top: 0.2em;
      font-size: 1em;
    }
    p {
      font-size: 1em;
    }
    hr {
      opacity: 0.3;
    }
  }
  .entry-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    .entry-title {
      flex-shrink: 1;
      font-style: normal;
      font-size: 1.0em;
      @include breakpoint($medium) {
        font-size: 1.2em;
      }
      a {
        border-bottom: none;
      }
    }
    .aio-award {
      margin-top: 0.75em;
      margin-left: 0.5em;
      flex: 1 0 25px;  // shrinkable, not growable, 25px width
    }
  }
  .entry-meta {
    margin-top: -0.6em;
    margin-bottom: 0;
    color: #999;
    font-family: $meta-font-family;
    .entry-date, .read-time {
      font-style: normal;
    }
    .entry-date + .read-time::before {
      content: "\2022";
      padding: 0 0.5em;
    }
  }
  .subtitle {
    font-size: 0.8em;
    margin-top: -1.3em;
    margin-bottom: 0.5em;
    font-style: italic;
    color: #999;
  }
  a {
    text-decoration: none;
    //border-bottom: 1px dotted #a2a2a2;
    &:hover{
      color: $bold-accent-color;
    }
  }
  figure a {
    border-bottom: none;
    figcaption a {
      border-bottom: 1px dotted #a2a2a2
    }
  }

  // modify margin of article in list
  .entries-list .entry {
    margin-bottom: 0;
  }

  // extra wide elements
  .expand {
    margin-top: 6em;
    width: 140%;
    margin-left: -20%;
  }

  // GRID
  .entries-grid{
    h3 {
      margin-top: 0.25em;
      margin-bottom: 0;
      text-align: center;
    }
  }
}

// page sidebar (e.g., on blog posts)
.page-sidebar {
  .page-author {
    margin-top: 0.5em;
  }
  .author-name {
    font-style: normal;
    font-family: $base-font-family;
    .p-name {
      font-family: $title-font-family;
    }
  }
  .read-time, .page-date {
    font-family: $base-font-family;
    font-style: normal;
  }

}

.center-blogs {
  .entry {
    header {
      justify-content: center;
    }
  }
  .entry-excerpt {
    text-align: center;
  }
  .entry-meta {
    text-align: center;
  }
}

.demo-img{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  text-align: center;
  div {
    position: relative;
    max-width: 400px;
    margin-left: 1em;
    margin-top: 1em;
  }
  .img-author {
    position: absolute;
    background-color: black;
    opacity: 0.5;
    color: white;
    bottom: 0;
    right: 0;
    padding:  0.25em 0.5em;
    margin: 0 auto;
    border-radius: 4px 0 0 0;
    font-size: 0.7em;
  }
}

// images
figcaption {
  color: #666;
  font-style: italic;
}
.responsive-embed + figcaption {
  margin-top: -1em;
}
// for single images
.align-center {
  figcaption {
    margin-top: 0.25em;
  }
}

.pull-center {
  text-align: center;
  img {
    @include breakpoint($medium) {
      display: inline-block;
      margin-left: 0.5em;
      margin-right: 0.5em;
    }
  }
  figcaption {
    margin-top: 0em;
  }
}

.pull-right {
  float: none;
  text-align: center;
  @include breakpoint($medium) {
    float:right;
    margin-left: 1em;
  }
  figcaption {
    margin-top: 0em;
  }
}

.pull-left {
  float: none;
  text-align: center;
  @include breakpoint($medium) {
    float:left;
    margin-right: 1em;
  }
  figcaption {
    margin-top: 0em;
  }
}

.align-right {
  width: 100%;
  float: none;
  text-align: center;
  @include breakpoint($medium) {
    float:right;
  }
}

.half img {
  max-width: 100%;
  @include breakpoint($medium) {
    max-width: 47%;
  }
}

.third img {
  max-width: 100%;
  @include breakpoint($medium) {
    max-width: 31%;
  }
}

// artineering buttons
p .btn--aio {
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
  transition: 0.2s;
  margin-top:0.3em;
  margin-bottom:0.3em;
}

.btn--aio:hover {
  background-color: #fff;
  color: #000;
}

.main-content .social-icons > a {
  border-bottom: none;
  color: #000;
  margin-right: 1em;
}

// footer
.social-icons > a {
  color: #AAA;
}

.schematic{
  p {
    margin: 0.2em 0;
  }
}


.publication {
  .publication-info{
    text-align: center;
  	p {
  		font-size: 1.2rem;
  		margin:0;
    }
    a {
      color: #000;
    }
  	.authors{
  		span {
  			white-space: nowrap;
  		}
  		p {
  			a {
  				margin: 0 15px;
  			}
  		  font-variant: small-caps;
  			font-size: 1.5rem;
  			margin: 2px;
  		}
  	}
  	.university{
  		p{
  			font-size: 1.2rem;
  			margin-bottom:20px;
  		}
  	}
  	.published-in{
  		p{
  			font-size:1rem;
  			margin:2px;
  		}
  	}
  	.doi {
  		p{
  			font-size: 0.75rem;
  			margin-bottom: 20px;
  		}
  	}
  }
	.abstract {
		max-width: 90%;
		margin: 0 auto;
	}
}


// CONTACT
.contact {
  p {
     margin-bottom:0.35em;
  }
  display: inline-block;
  padding-right: 1em;
  padding-left: 1em;
  margin: 0;
  margin-bottom: 1em;
}

// SERVICES
.side-gfx {
  width:200px;
  @include breakpoint($medium) {
    width: 350px;
    margin-bottom: 0;
    margin-top: -3.5em;
    margin-left: 2em;
    margin-right: 2em;
  }
}

// MNPRX
.mnprx-links {
  margin-top: 0.5em;
  @include breakpoint($medium) {
    margin-top: 3.5em;
  }
}

// DOCUMENTATION
.page-content {
  .doc-element {
    display: inline-block;
    width: 250px;
    max-width: 100%;
    justify-self: center;
    h3 {
      margin-left: 0.5em;
      text-align: left;
      a {
        color: $base-color;
        &:hover {
          color: $bold-accent-color;
        }
      }
    }
  }
}

// Doc navigation
.docnavigation {
  font-size: 1.2em;
  color: #999;
}
.doc-toc-right {
  position: absolute;
  right: 0;
  top: 0.6em;
  display:block;
  border: none;
  background-color: #FFF;
  padding-left: 0.5em;
  p {
    margin-bottom: 0em;
  }
  p + ol {
    margin-top: 0em;
  }
  a {
    cursor: pointer;
    font-size: 1.2em;
    background-color: #FFF;
    color: #999;
  }
  a:hover{
    transition: all 0.4s ease;
    color: #000;
  }
  ol {
    list-style: none;
    counter-reset: li;
    margin-left: -1em;
    li {
      counter-increment: li;
      a {
        font-size: 1.2em;
        background-color: #FFF;
        color: #999;
        font-weight: 400;
      }
      // second header
      ol {
        list-style: none;
        counter-reset: li;
        margin-left: 0em;
        font-size: 0.7em;
        li {
          counter-increment: li;
          a {
            font-size: 1.2em;
            background-color: #FFF;
            color: #999;
            font-weight: 400;
          }
        }
        li::before {
          content: none;
        }
      }
    }
    li::before {
      content: counter(li);
      color: #999;
      display: inline-block;
      width: 1em;
      margin-left: -1.5em;
      margin-right: 0.5em;
      text-align: right;
      direction: rtl;
    }
  }
}

// PRODUCT OVERVIEWS
.aio-overview {
  text-align: center;
  .aio-section {
    padding-top: 6em;
    padding-bottom: 6em;
    margin-bottom: 2em;
    overflow: hidden;
    position: relative;
    min-height: 22em;
    display: flex;
    justify-content: center;

    .aio-section-transparent-box{
      position: absolute;
      background-color: rgba(255, 255, 255, 0.75);
      border-radius: 10px 10px 0px 0px;
      bottom: 0;

      p {
        padding-right: 1em;
        padding-left: 1em;
      }
    }

    h2 {
      margin: 0 auto;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 0.1em;
    }
    h2::after{
      content: "";
      width: 20%;
      left: 40%;
      @include breakpoint($medium) {
        width: 6%;
        left: 47%;
      }
      height: 2px;
      background-color: white;
      position: absolute;
      bottom: 0;
    }
    .aio-section-options {
      margin-top: -1em;
      p {
        position: relative;
        display: inline-block;
        padding: 0em 1em;
        font-family: $sans-serif-font-family2;
        font-size: 1.2em;
        a {
          color: #000;
          opacity: 0.5;
          transition: 0.2s;
          &:hover {
            opacity: 1.0;
          }
        }
      }
    }
    .overview-image-caption {
      position: absolute;
      top: 0;
      right: 0;
      color: #fff;
      background-color: #000;
      opacity: 0.5;
      padding: 0.1em 1em 0 0.5em;
      font-size: 0.75em;
      border-radius: 4px 0 0 0;
    }
    p {
      padding: 0.5em 3em;
      margin-bottom: 0;
      font-weight: bold;
    }
    .background-video {
      video {
        position: absolute;
        z-index: -1;
        opacity: 0.9;
        height: 100%;
        width: 355vh; // 100 * 1920 / 540
        min-width: 100%;
        max-width: none;
        min-height: 28.125vw; // 100 * 540 / 1920
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); /* % of current element */
      }
    }
  }
  .mnprx-art-direction {
    background-image: url('/images/MNPRX/art-direction.jpg');
    background-size: cover;
    background-position: center;
  }
  .mnprx-integration {
    background-image: url('/images/MNPRX/integration.jpg');
    background-size: cover;
    background-position: center;
  }
  .mnprx-customization {
    background-image: url('/images/MNPRX/customize.jpg');
    background-size: cover;
    background-position: center;
  }
}

// COMPARISONS
#aio-customization {
  position: relative;
  background-color: #fff;
  margin-top: 2em;

  .customization-table {
    margin: 0 1em;
    padding: 5px 25px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0.7, 0.7, 0.7, 0.15);
    display: flex;
    flex-direction: column;
    h2 {
      margin-top: 0;
      font-size: 1.5em;
      margin-top: -0.5em;
    }
    }

    @media (min-width: 900px) {
      flex-direction: column;
    }

    * {
      text-align: center;
      text-transform: uppercase;
    }

    h3 {
      font-size: 1em;
      margin-top: 1em;
    }
}

.license-comparison {
  display: flex;
  align-items: center;

  .comparison-img {
    flex: 30%;
    padding: 0.5em;
  }
  .comparison-text {
    flex: 30%;
    padding-right: 0.5em;
    padding-left: 0.5em;
    text-align: center;
  }
}




.toggle, .toggler {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

.toggler {
  color: #ddd;
  transition: .2s;
  font-weight: bold;
}

.toggler--is-active {
  color: #000;
}

.b {
  display: block;
}

.toggle {
  position: relative;
  width: 80px;
  height: 35px;
  border-radius: 100px;
  background-color: #000;
  overflow: hidden;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.05);
}

.check {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 6;
}

.check:checked ~ .switch {
  right: 2px;
  left: 57.5%;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: .08s, 0s;
}

.switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  right: 57.5%;
  background-color: #fff;
  border-radius: 36px;
  z-index: 1;
  transition: 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-property: left, right;
  transition-delay: 0s, .08s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.hide {
  display: none !important;
}











.aio-pricing {
  position: relative;
  background-color: #fff;

  .pricing-table {
    margin: 0 1em;
    padding: 5px 25px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0.7, 0.7, 0.7, 0.15);

    display: flex;
    flex-direction: column;

    @media (min-width: 900px) {
      flex-direction: row;
    }

    * {
      text-align: center;
      text-transform: uppercase;
    }

    h2 {
      font-size: 1em;
    }

    ul {
      font-weight: 600;
      letter-spacing: 1px;
      margin: 50px 0 25px;
      list-style-type: none;
      padding-inline-start: 0;
      li {
        border-top: 1px solid #DDD;
        font-size: 12px;
        line-height: 1.5;
        padding: 15px 0;
      }
      li:last-child{
        border-bottom: 1px solid #DDD;
      }
    }
  }
  .pricing-plan {
    border-bottom: 1px solid #DDD;
    padding: 25px;
    padding-top: 5em;
    h2 {
      margin-top: 0;
    }
  }

  @media (min-width: 900px) {
    .pricing-plan {
      border-bottom: none;
      border-right: 1px solid #DDD;
      flex-basis: 100%;
      padding: 25px 50px;
      padding-top: 3em;
      .space-out {
        li:first-child {
          padding-top: 33px;
          padding-bottom: 33px;
        }
      }

    }
    .pricing-plan:last-child {
      border-right: none;
    }
  }
  .pricing-price {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 1.3em;
    span{
      text-transform: none;
    }
    span:first-child {
      font-weight: bold;
    }
    p {
      text-transform: none;
      font-size: 0.6em;
      margin-top: -0.4em;
    }
  }
  .pricing-quantity {
    border-top: 1px solid #DDD;
    padding-top: 1.2em;
    font-size: 0.8em;
    span {
      text-transform: none;
      margin-right:0.5em;
    }
  }
}

// requirements
.aio-requirements {
    ul {
      padding-left: 1.5em;
    }
    ol {
      padding-left: 1.5em;
    }
}

// footprint
#footprint {
  margin-top: 1.5em;
  text-align: left;
  li {
    font-size: 0.7em;
  }
  ul {
    padding-left: 1.5em;
  }
  ol {
    padding-left: 1.5em;
  }
}

// STYLES

.example-pull-right {
  float: none;
  text-align: center;
  @include breakpoint($medium) {
    float:right;
    margin-left: 1em;
    margin-bottom: -2em;
    margin-top: -1em;
  }
  figcaption {
    margin-top: 0em;
  }
}


// ABOUT
// navigation
.about-main {
  position: relative;
#about-nav {
  position: fixed;
  z-index: 50;
  top: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-between;
  width: 100%;
  ul {
    background-color: rgba(255, 255, 255, 0.8);
    //rgba(255, 255, 255, 0.8)
    padding: 3.2em 2.5em 0.7em;
    //0.5 1.5 0.7
    border-radius: 0 0 0.3em 0.3em;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    li {
      display: inline-block;
      padding: 0 1.2em;
      padding-top: 0.35em;
      text-transform: uppercase;
      font-size: 0.7em;
      font-family: $sans-serif-font-family2;
      a {
        color: black;
        text-decoration: none;
      }
      .about-active {
        //color: $bold-accent-color;
        text-decoration: underline;
      }
    }
    * { box-sizing: border-box; }
    @include breakpoint($small) {
      li + li {
        border-left: 1px solid #AAA;
      }
    }
  }
} // end navigation

// members
.aio-team {
  text-align: center;
  margin: 2em auto 0;
  .aio-team-member {
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    img {
      width: 300px;
      border-radius: 50%;
    }
    .aio-team-name {
      margin-top: 0.5em;
      font-family: "Josefin Sans";
    }
    .aio-team-role {
      font-family: "Josefin Sans";
      font-size: 0.8em;
    }
    .aio-team-social {
      a {
        border-bottom: none;
        color: #666;
      }
    }
  }
}

// publications
.aio-symbols {
  display: flex;
  flex-flow: row wrap;
  //justify-content: center;
  //justify-content: space-between;
  span {
    margin-right: 2em;
  }
  svg {
    margin-right: 0.75em;
  }
}
}

// SUPPORT
.aio-support-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-between;
  div {
    box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
    border-radius: 0.5em;
    flex: 1 0 80%;
    padding: 0.5em;
    margin: 0.5em;
    @include breakpoint($small) {
      flex: 1 0 40%;
      padding: 1em;
    }
    @include breakpoint($large) {
      flex: 1 0 28%;
    }
    a {
      //margin-left: 1em;
      font-weight: 400;
    }
  }
}

// NEWS

.two-split-news {
  div {
    vertical-align: top;
    width: 100%;
    @include breakpoint($medium) {
      display: inline-block;
      width: 45%;
      margin-left: 2.35%;
      margin-right: 2.35%;
    }
    h2 {
      text-align: center;
    }
  }
}
.main-twitter {
  .twitter-follow {
    width: 100%;
  }
  .twitter-news {
    width: 100%;
  }
}

// CAREERS
.aio-careers-center {
  text-align: center;
}
.aio-careers-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-between;
  div {
//    box-shadow: 0px 0px 5px 0px rgba(204,204,204,1);
//    border-radius: 0.5em;
    flex: 1 0 80%;
    padding: 0.5em;
    margin: 0.5em;
    @include breakpoint($small) {
      flex: 1 0 40%;
      padding: 1em;
    }
    @include breakpoint($large) {
      flex: 1 0 28%;
    }
  }
}
.aio-careers-grid ::after{
  content: "";
  width: 20%;
  left: 40%;
  @include breakpoint($medium) {
    width: 6%;
    left: 47%;
  }
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
}
.aio-careers-initiative {
  p:first-of-type {
    font-size: 1.2em;
  }
}

.aio-hr {      // line break
    display: block;
    height: 1px;
    border: 0;
    border-top: 1.5px solid #ccc;
    margin: 1em 0;
    margin-left: 15%;
    margin-right: 15%;
    padding: 0;
}

.flex-third {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  figure {
    width: 100%;
    min-width: 300px;
    padding: 0 0.5em;
    margin: 0;
    @include breakpoint($medium) {
      width: 33%;
    }
    figcaption {
      text-align: center;
    }
  }
}

.flex-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  .entry {
    max-height: 220px;
    margin: 0 auto;
    img {
      margin-bottom: 0;
    }
    .entry-excerpt {
      margin-top: -0.75em;
    }
  }
}


// FOOTER
.aio-footer{
  a {
    margin: 0 1em;
    line-height: 1em;
    font-size: 0.75em;
    text-decoration: none;
    border-bottom: 1px dotted #a2a2a2;
    color: $accent-color;
    -webkit-transition: $global-transition;
    transition: $global-transition;
    &:hover {
      color: shade($accent-color, 25%);
    }
  }
}

// helpers
.right05 { margin-right: 0.5em; }
.right1 { margin-right: 1em; }
.right2 { margin-right: 2em; }
.right-05 { margin-right: 0; }
.right-1 { margin-right: -1em; }
.right-2 { margin-right: -2em; }
.left05 { margin-left: 0.5em; }
.left1 { margin-left: 1em; }
.left2 { margin-left: 2em; }
.left-05 { margin-left: -0.5em; }
.left-1 { margin-left: -1em; }
.left-2 { margin-left: -2em; }
.top0 { margin-top: 0; }
.top05 { margin-top: 0.5em; }
.top1 { margin-top: 1em; }
.top2 { margin-top: 2em; }
.top3 { margin-top: 3em; }
.top-05 { margin-top: -0.5em; }
.top-1 { margin-top: -1em; }
.top-2 { margin-top: -2em; }
.top-3 { margin-top: -3em; }
.bottom05 { margin-bottom: 0.5em; }
.bottom1 { margin-bottom: 1em; }
.bottom2 { margin-bottom: 2em; }
.bottom-05 { margin-bottom: -0.5em; }
.bottom-1 { margin-bottom: -1em; }
.bottom-2 { margin-bottom: -2em; }
.opacity05 { opacity: 0.5; }


/*
   Twitter feed alignment
   ========================================================================== */
.responsive-twitter {
  width: 100%;
  text-align: center;
  @include breakpoint($small) {
    margin: 50px auto 0;
  }
  @include breakpoint($xxlarge) {
    position: fixed;
    z-index: 10;
    right: 0px;
    top: 0px;
    margin-top: 0;
    width: 250px;
    border-top: 0.25em solid black;
  }
}


/*
   Osano cookie consent
  ========================================================================== */
// don't show popup on mobile after accepted or revoked
.cc-revoke {
  font-size: 0.75em;
  @media screen and (max-width: 768px) {
    display: none;
  }

}


/* Text wrapping around highlights */

.page-highlights {
  display: block;
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
  width: 100%;
  background-color: #eaeaea;
  border-radius: .75em;
  ul {
    //list-style: none;
    padding-left: 1.5em;
    li {
      margin: 1em 0;
    }
  }
  @include breakpoint($small) {
    float: right;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-left: 2em;
    width: 50%;
  }
  @include breakpoint($medium) {
    float: right;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-left: 2em;
    width: 33%;
  }
  h4 {
    margin-top: 1em;
    margin-bottom: -0.5em;
  }
}


/*
   Slick carousel
   ========================================================================== */
.aio-slick {
  p {
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
    color: #999;
    margin: 0.2em auto 0;
  }
  span {
    display: inherit;
    text-align: right;
    margin-top: -3.3em;
    margin-right: 0.5em;
    margin-bottom: 2em;
    font-size: 0.7em;
    color: #999;
  }
  img {
    margin: 0 auto;
  }
}
.slick-dots  {
  text-align: center !important;
}

/*
   FAQ - Accordion
   ========================================================================== */

   .accordion {
    padding-top: 1.5em;
    *:focus {
      outline: 0;
      border: none;
    }
    h4 {
      font-size: 1.25em;
      border: none;
      background: none;
    }
    p {
      font-size: 0.8em;
      border: none;
      padding: 0em 2.2em !important;
      margin-bottom: 0.5em;
    }
    div {
      border: none;
      padding: 0 !important;
    }
    ul {
      font-size: 0.8em;
      padding-left: 4em;
    }
    ol {
      font-size: 0.8em;
      padding-left: 4em;
    }
    a {
      color: $accent-color !important;
    }
  }

/*
   Upgrade-Simple
   ==========================================================================*/
.maya-gray {
  color: #bdbdbd;
  background-color: #2f2f2f;
}
.upgrade-text {
  font-weight: 400;
  font-size: 1.5em;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-top: 1.5em;
  .upgrade-background {
    background-color: #444444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    figure {
      margin: 0;
    }
    p {
      padding-top: 1em;
      margin-bottom: 0.25em;
      font-family: "Josefin Sans", sans-serif;
    }
    img {
      max-width: 100%;
      padding-bottom: 1em;
    }
    .upgrade-img {
      max-width: 60%;
      align-self: center;
    }
  }
  svg {
    margin-top: 0.5em;
  }
}


/*
   Stay up to date Button
   ==========================================================================*/


.navigation-uptodate {
  font-size: 1em;
  padding: 0.3em 1em 0.5em;
  position: fixed;
  bottom: 1em;
  right: 0;
  margin: 0;
  z-index: 100;
  text-transform: uppercase;
  background-color: black;
  border-radius: 0.3em 0 0 0.3em;
  a {
    color: #CCC;
    text-decoration: none;
    font-size: 0.8em;
    font-family: $sans-serif-font-family2;
    &:hover {
      color: #FFF;
    }
  }
}


/*
   Old Comparison Slider
   ==========================================================================

.aio-compare-splitview {
  position: relative;
  width: 100%;
  min-height: 50vw;
  //  overflow: hidden;
  @media (min-width: 900px) {
    min-height: 35vw;
  }

  .aio-compare-panel {
    position: absolute;
    width: 100%;
    min-height: 50vw;
    overflow: hidden;
    @media (min-width: 900px) {
      min-height: 35vw;
    }
    .aio-compare-content {
      position: absolute;
      width: 100%;
      min-height: 50vw;
      color: black;
      @media (min-width: 900px) {
        min-height: 35vw;
      }
      .aio-compare-description-r {
        width: 100%;
        position: absolute;
        top: 92%;
        right: 3%;
        transform: translateY(-50%);
        text-align: right;
      }
      .aio-compare-description-l {
        width: 100%;
        position: absolute;
        top: 13%;
        left: 3%;
        transform: translateY(-50%);
        text-align: left;
      }
      img {
        width: 32%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (min-width: 900px) {
          width: 50%;
        }
      }
    }
  }

  .aio-compare-bottom {
    background-color: #dbdbdb;
    z-index: 1;
    .aio-compare-description {
      right: 5%;
    }
  }

  .aio-compare-top {
    background-color: #ebebeb;
    z-index: 2;
    width: 50%;
    .aio-compare-description {
      left: 5%;
    }
    .aio-compare-content {
      width: 200%;
    }
  }
}

.aio-compare-handle {
  height: 100%;
  position: absolute;
  display: block;
  background-color: white;
  width: 2px;
  top: 0;
  left: 50%;
  z-index: 3;
  transform: translateX(-1px);
}
*/
