/* ==========================================================================
   Entries (Posts, collection documents, etc.)
   ========================================================================== */

.entry {
  @include clearfix();
  margin-bottom: 2rem;
  padding-bottom: 2rem;

  a {
    color: inherit;

    &:hover {
      color: $accent-color;
    }
  }
}

.entry-title {
  margin-bottom: 0.5rem;
  font-family: $title-font-family;
  font-weight: normal;
  font-style: italic;
  letter-spacing: -2px;

  a {
    text-decoration: none;
  }
}

.entry-meta {
  .entry-date,
  .read-time {
    font-family: $meta-font-family;
    font-style: italic;
    white-space: nowrap;
  }

  .read-time + .entry-date::before {
    content: '\2022';
    padding: 0 0.5em;
  }
}

/*
   Entries List Layout
   ========================================================================== */

.entries-list {
  .entry {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }
  }

  .entry-title {
    @include fluid-type($min-vw, $max-vw, 24px, 36px);
    word-wrap: break-word; /* break long words that could overflow */
    order: 1;
  }

  .entry-excerpt,
  .entry-content {
    order: 3;

    /* remove space after last child element */
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .entry-excerpt {
    /* normalize font sizes */
    > * {
      font-size: 1em;
    }
  }

  .entry-meta {
    order: 2;
    margin-bottom: 1em;
    font-size: 0.75em;
  }

  .more-link a {
    text-decoration: none;
  }
}

/*
   Entries Grid Layout
   ========================================================================== */

.entries-grid {}
