/* ==========================================================================
   Entries (Posts, collection documents, etc.)
   ========================================================================== */

.entry {
  @include clearfix();

  a {
    color: inherit;

    &:hover {
      color: $accent-color;
    }
  }
}

.entry-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.entry-title {
  margin-bottom: 0.5rem;
  font-family: $title-font-family;
  font-weight: $entry-title-weight;
  font-style: italic;
  letter-spacing: -1px;
  word-wrap: break-word; /* break long words that could overflow */

  a {
    text-decoration: none;
  }
}

.entry-image {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  width: 100%;
  margin-bottom: 0.5rem;
}

.entry-meta {
  .entry-date,
  .read-time {
    font-family: $meta-font-family;
    font-style: italic;
    white-space: nowrap;
  }

  .read-time + .entry-date::before {
    content: "\2022";
    padding: 0 0.5em;
  }
}

/*
   Entries List Layout
   ========================================================================== */

.entries-list {
  .entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .entry-title {
    @include fluid-type($min-vw, $max-vw, 24px, 36px);
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .entry-excerpt,
  .entry-content {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;

    /* remove space after last child element */
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .entry-excerpt {
    /* normalize font sizes */
    > * {
      font-size: 1em;
    }
  }

  .entry-meta {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 1em;
    font-size: 0.75em;
  }

  .more-link {
    margin-top: -1em;

    a {
      text-decoration: none;
    }
  }
}

/*
   Entries Grid Layout
   ========================================================================== */

.entries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2em;

  .entry {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .entry-title {
    @include fluid-type($min-vw, $max-vw, 18px, 24px);
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .entry-excerpt,
  .entry-content {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;

    /* remove space after last child element */
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .entry-excerpt {
    /* normalize font sizes */
    > * {
      font-size: 1em;
    }
  }

  .entry-meta {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    margin-bottom: 1em;
    font-size: 0.75em;
  }

  .more-link {
    margin-top: -1em;

    a {
      text-decoration: none;
    }
  }
}
