/* ==========================================================================
   Site-wide
   ========================================================================== */

.site-nav {
  margin-bottom: 1em;
  text-align: center;

  ul {
    display: inline-block;
    margin: 0;
    padding: 0.25em 0.75em;
    list-style: none;
    color: $nav-color;
    background-color: $nav-background-color;
    border-radius: 0 0 (2 * $border-radius) (2 * $border-radius);
  }

  li {
    display: inline-block;
    font-size: 0.6em;
  }

  a {
    display: block;
    padding: 0.75em;
    color: $nav-color;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid $nav-background-color;
    border-radius: $border-radius;

    &:hover {
      border-color: $nav-color;
    }
  }
}

.masthead {
  @include clearfix;
  margin-bottom: 3em;
  text-align: center;
}

.site-title {
  margin: 0.5em 0 0;
  padding: 0;
  @include fluid-type($min-vw, $max-vw, $h2-min, $h2-max);

  a {
    color: $text-color;
    text-decoration: none;
  }
}

.site-description {
  margin-bottom: 1em;
  font-family: $description-font-family;
  @include fluid-type($min-vw, $max-vw, $h5-min, $h5-max);
  font-weight: 400;
  font-style: italic;
}

.site-logo {
  position: relative;
  width: $site-logo-width;
  height: $site-logo-height;
  border: 0.25em solid $background-color;
  border-radius: 100px;
  z-index: 10;

  @include breakpoint($medium) {
    width: 1.5 * $site-logo-width;
    height: 1.5 * $site-logo-width;
    border-radius: 150px;
  }

  @include breakpoint($large) {
    width: 2 * $site-logo-width;
    height: 2 * $site-logo-width;
    border-radius: 200px;
  }
}

.site-footer {
  @include clearfix();
  margin: 2em 0;
  padding-top: 1em;
  text-align: center;
  border-top: 1px solid $border-color;

  .social-icons {
    margin-bottom: 0.5em;
  }

  .social-icon {
    display: inline-block;
    padding: 0 0.25em;
  }
}

.copyright {
  color: lighten($text-color, 35%);
  font-size: 0.75em;

  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: lighten($text-color, 35%);
  }
}
