/* ==========================================================================
   Page
   ========================================================================== */

.page-wrapper {
  margin: 2em auto;
  padding-left: 1em;
  padding-right: 1em;
  max-width: $main-max-width;

  @include breakpoint($main-max-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-header {
  display: grid;
}

.page-title {
  @include fluid-type($min-vw, $max-vw, 48px, 60px);
  margin-bottom: 0.25rem;
  font-family: $title-font-family;
  font-weight: normal;
  font-style: italic;
  line-height: 1;
  letter-spacing: -2px;
}

.page-image {
  position: relative;
  margin-top: (-1 * $site-logo-height) / 2;
  margin-bottom: 2em;
  z-index: 1;

  @include breakpoint($medium) {
    margin-top: (-1.5 * $site-logo-height) / 2;
  }

  @include breakpoint($large) {
    margin-top: (-2 * $site-logo-height) / 2;
  }
}

.page-image-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 0.25em 0.5em;
  color: #fff;
  font-size: 0.75em;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.5;
  border-radius: 4px 0 0 0;

  > * {
    margin: 0;
    padding: 0;
  }

  a {
    color: #fff;
  }
}

.page-tags {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9em;
  order: -1;
}

.page-tag {
  display: inline-block;
  padding-right: 0.25em;

  &:not(:first-child)::before {
    content: "\2022";
  }

  a {
    color: $text-color;
    text-decoration: none;
  }
}

.page-share-title {
  display: inline-block;
  margin: 0 0 0.25em 0;
  padding: 0.5em 1em 0.5em 0;
  font-family: $sans-serif-font-family;
  font-size: 0.75em;
  font-weight: bold;
}

.page-pagination {
  clear: both;
  margin: 2em 0 1em;
  text-align: center;
}

/*
   Home Layout Overrides
   ========================================================================== */

.layout--home,
.layout--search {
  .page-wrapper {
    max-width: $medium;
  }

  .page-title {
    text-align: center;
  }
}

.layout--post {
  .page-wrapper {
    @include breakpoint($large) {
      display: grid;
      grid-gap: 2em;
      grid-template-columns: 150px 1fr;
      justify-content: space-between;
    }
  }

  .page-header {
    @include breakpoint($large) {
      grid-column: 1 / -1;
      clear: both; // needed for floated layout
    }
  }

  .page-author {
    margin-bottom: 1em;

    @include breakpoint($large) {
      float: left; // display: grid fallback
      width: 20%; // display: grid fallback
    }

    @supports (display: grid) {
      width: auto;
    }
  }

  .page-content {
    @include breakpoint($large) {
      float: right; // display: grid fallback
      width: 80%; // display: grid fallback
      min-width: 0;
    }

    @supports (display: grid) {
      width: auto;
      margin: 0;
    }
  }

  .page-tags,
  .page-share {
    // display: grid fallback
    clear: both;
  }
}
