<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}" class="no-js">
  {% include head.html %}

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %} {% if page.entries_layout == 'grid' %}page--wide{% endif %} {{ page.title | slugify }}">
    {% include skip-links.html %}
    {% include navigation.html %}

    <main id="main" class="main-content" aria-label="Content">
      <article>
        {% include page-image.html %}
        <div class="page-wrapper-landing">
          <div class="page-content">
            {{ content }}

            {% if page.share %}
              {% include social-share.html %}
            {% endif %}
          </div>
        </div>
      </article>
    </main>

    {% include footer.html %}
    {% include scripts.html %}
  </body>

</html>
