---
layout: default
---

<div id="main" role="main">
  <article>
    {% include page-image.html %}
    <div class="entry-wrapper">
      <header class="entry-header">
        {% if page.link %}
          <h1 class="entry-title"><a href="{{ page.link }}">{{ page.title }} <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 class="entry-title">{{ page.title }}</h1>
        {% endif %}
      </header>
      <aside class="entry-meta">
        {% include author.html %}
      </aside>
      <div class="entry-content">
        <div class="entry-tags">
          {%- for tag in page.tags -%}
            <a href="{{ tag | prepend: '/tags/#' | relative_url }}" title="{{ site.data.text[site.locale].pages_tagged | default: 'Pages tagged' }} {{ tag }}">{{ tag }}</a>
          {%- endfor- %}
        </div>
        {{ content }}
        {% if page.share %}
          {% include social-share.html %}
        {% endif %}
        {% if site.disqus.shortname %}
          {% include disqus-comments.html %}
        {% endif %}
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
    <nav class="pagination" role="navigation">
      {% if page.previous %}
        <a href="{{ page.previous.url | relative_url }}" class="btn" title="{{ page.previous.title }}">{{ site.data.text[site.locale].previous | default: 'Previous' }}</a>
      {% endif %}
      {% if page.next %}
        <a href="{{ page.next.url | relative_url }}" class="btn" title="{{ page.next.title }}">{{ site.data.text[site.locale].next | default: 'Next' }}</a>
      {% endif %}
    </nav><!-- /.pagination -->
  </article>
</div><!-- /#main -->
