<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="index" itemscope itemtype="http://schema.org/WebPage">

{% include browser-upgrade.html %}
{% include navigation.html %}

<div id="main" role="main" itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/Blog">
  {% for post in paginator.posts %}
  <article class="hentry" itemscope itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
    {% if post.image.feature %}<a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/images/{{ post.image.feature }}" class="entry-feature-image" alt="{{ post.title }}"></a>{% endif %}
    <div class="entry-wrapper">
      <header "entry-header">
        <span class="entry-tags">{% for tag in post.tags %}<a href="{{ site.url }}/tags.html#{{ tag | cgi_encode }}" title="Posts tagged {{ tag }}">{{ tag }}</a>{% unless forloop.last %} &bull; {% endunless %}{% endfor %}</span>
        <h1 class="entry-title" itemprop="headline"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{% if post.headline %}{{ post.headline }}{% else %}{{ post.title }}</a></h1>{% endif %}
      </header>
      <footer class="entry-meta">
        <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></span>
        <span class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">By <span itemprop="name"><a href="{{ site.url }}/about.html" title="About {{ site.owner.name }}" itemprop="url">{{ site.owner.name }}</a></span></span>
        <span><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}"><i class="icon-link"></i> Permalink</a></span>
      </footer>
      <div class="entry-content">
        {{ post.content }}
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
  </article>
  {% endfor %}
</div><!-- /#main -->

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="/page{{ paginator.previous_page }}" class="previous">Previous</a>
  {% endif %}
  <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="next">Next</a>
  {% endif %}
</div><!-- /.pagination -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}
  
</body>
</html>